<div style="text-align: center;">
    <div class="pagination">
        <% if(pagination.curSet > 1  ) { %>
            <a href="javascript:void(0)" onclick="$('#pageIndex').val('<%=pagination.startPage -1 %>'); fnSearch();">&laquo;</a>
        <% }%>
        <%
        for(var i = pagination.startPage; i <= pagination.endPage; i++){
            if(i > pagination.totalPage){
                break;
            }

            if(i == pagination.pageIndex){
        %>
            <a href="javascript:void(0)" style="color: #6f4ef2; opacity: 1;"><%=parseInt(i)%></a>
        <% } else{  %>
            <a href="javascript:void(0)" onclick="$('#pageIndex').val('<%=i%>'); fnSearch();" ><%=parseInt(i)%></a>
        <% }} %>
        <% if(pagination.curSet < pagination.totalSet){  %>
            <a href="javascript:void(0)" onclick="$('#pageIndex').val('<%=pagination.endPage + 1 %>'); fnSearch();">&raquo;</a>
        <% } %>
    </div>
</div>