<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/cdn') %>
    <title><%= config.found_text %> | Buy</title>
</head>
<body class="@@dashboard">
<div id="main-wrapper" class="show">
    <%- include('includes/header') %>
    <%- include('includes/nav') %>
    <div class="content-body">
        <div class="container">
            <div class="page-title">
                <div class="row align-items-center justify-content-between">
                    <div class="col-6">
                        <div class="page-title-content">
                            <h3>NFT 구매</h3>
                            <p class="mb-2">
                                NFT 선택 후 구매를 신청해 주시기 바랍니다.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="header-left">
                                <h4 class="card-title">상품</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row" id="price-group">
                                <% nftList.forEach(function(el, index) { %>
                                    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                        <div class="card items">
                                            <div class="card-body">
                                                <div class="items-img position-relative">
                                                    <img src="<%=el.nft_img%>" class="img-fluid rounded mb-3" alt="" style="width: 300px; height: 300px;">
                                                </div>
                                                <h4 class="card-title"><%=el.nft_nm%></h4>
                                                <div class="d-flex justify-content-between">
                                                    <div class="text-end">
                                                        <h5 class="text-muted"><%=el.sell_price%> KRW</h5>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-center mt-3">
                                                    <a href="#n" class="btn btn-primary" data-price='<%=el.sell_price%>' data-sellSeq="<%=el.sell_seq%>" data-nftNm="<%=el.nft_nm%>" data-nftImg="<%=el.nft_img%>" onclick="selectPrice(this);">선택</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% })%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="card">
                        <div class="card-header flex-row">
                            <h4 class="card-title">구매 상품 </h4>
                            <div class="header-right">
                                <div class="text-end">
<!--                                    <input type="text" id="price" name=price style="background-color: var(&#45;&#45;bs-body-bg); border: none;" readonly>-->
                                    <input type="hidden" name='max_amt' id="max_amt" value="<%= config.max_amt %>">
                                    <input type="hidden" name='min_amt' id="min_amt" value="<%= config.min_amt %>">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="card">
                        <div class="card-body bs-0 p-0 top-creators-content  bg-transparent">
                            <div class="d-flex justify-content-between creator-widget active  align-items-center">
                                <div class="d-flex align-items-center">
                                    <div class="top-creators-user-img me-3"></div>
                                    <div class="top-creators-info">
                                        <h5 class="mb-0">구매금액</h5>
                                        <p class="mb-2" id="totalCnt">
                                            0 Items
                                        </p>
                                    </div>
                                </div>
                                <div class="text-end">
                                    <h5 class="text-primary">
                                        <input type="text" class="text-primary" id="price" name=price style="border: none; background-color: inherit;" readonly> KRW(원)
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-12">
                    <div class="card">
                        <div class="card-body p-0 bs-0 bg-transparent">
                            <div class="bid-table">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>상품명</th>
                                            <th>수량</th>
                                            <th>상품가격</th>
                                            <th>삭제</th>
                                        </tr>
                                        </thead>
                                        <tbody id="selectBody">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="float: right;">
                        <a class="btn btn-primary clear-btn" href="#n">초기화</a>
                        <a href="#n" class="btn btn-success next-btn">구매하기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div class="modal fade" id="buyAlarm" tabindex="-1" aria-labelledby="buyAlarmLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="flex items-center justify-center px-5 py-2 text-sm bg-gray-200">
                <h5 class="items-center text-center" id="buyAlarmLabel">
                    Buy
                </h5>
            </div>
            <div class="card welcome-profile">
                <div class="card-body">
                    <h4>선택하신 상품들과 결제 금액을 확인해주세요. 구매를 진행하시겠습니까? </h4>
                    <p>
                        아래 판매자 정보를 확인 하신 후, NFT구매금액을 입금하시면
                        시스템에서 입금 확인 후, 클레이튼 블록체인으로 NFT가 자동 전송됩니다.
                    </p>
                    <ul>
                        <li>
                            <a>
                                <span class="verified"><i class="ri-check-line"></i></span>
                                NFT 결제금액 :&nbsp;
                                <div id="totalPrice">

                                </div>
                            </a>
                        </li>
                        <li>
                            <table>
                                <colgroup>
                                    <col width="300px;">
                                    <col width="300px;">
                                </colgroup>
                                <thead>
                                    <th>상품</th>
                                    <th>수량</th>
                                    <th>금액</th>
                                </thead>
                                <tbody id="selectNft">
                                </tbody>
                            </table>
                        </li>
                        <li>
                            <a>
                                <span class="verified"><i class="ri-shield-check-line"></i></span>
                                NFT 판매자 성명 :&nbsp;
                                <div id="acc_nm">

                                </div>
                            </a>
                            <a style="padding-top: 10px;">
                                <span class="verified"><i class="ri-shield-check-line"></i></span>
                                입금은행 :&nbsp;
                                <div id="bank_nm">

                                </div>
                            </a>
                            <a style="padding-top: 10px;">
                                <span class="not-verified"><i class="ri-shield-check-line"></i></span>
                                계좌번호 :&nbsp;
                                <div id="bank_acc">

                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="px-4 pb-2 modal-footer">
                <button type="button" class="w-full px-5 py-2 text-xs text-white rounded-md btn btn-dark" data-bs-dismiss="modal" onclick="fnBuy()">
                    확인
                </button>
                <button type="button" class="w-full px-5 py-2 text-xs text-white rounded-md btn btn-dark" data-bs-dismiss="modal">
                    취소
                </button>
            </div>
        </div>
    </div>
</div>
<%- include('includes/modal') %>
</html>
<script>
    if ($("#price").val() == '') {
        $("#price").val(0);
    }

    let totalCnt = 0;
    let price10000cnt = 0;
    let price10000seq = 0;
    let price30000cnt = 0;
    let price30000seq = 0;
    let price50000cnt = 0;
    let price50000seq = 0;
    let price100000cnt = 0;
    let price100000seq = 0;
    let price150000cnt = 0;
    let price150000seq = 0;
    let price200000cnt = 0;
    let price200000seq = 0;
    let price500000cnt = 0;
    let price500000seq = 0;
    let price1000000cnt = 0;
    let price1000000seq = 0;

    const price = document.querySelector('#price');
    const clearBtn = document.querySelector('.clear-btn');
    const nextBtn = document.querySelector('.next-btn');

    function selectPrice(obj) {
        price.value = parseInt(price.value) + parseInt(obj.dataset.price);
        let html = "";
        if (obj.dataset.price == '10000') {
            fnViewAlarm(obj.dataset.nftnm +' 상품을 선택하였습니다.');
            price10000cnt++;
            price10000seq = obj.dataset.sellseq;
            if ($("#10000product").length > 0) {
                $("#10000productCnt").html(price10000cnt);
                $("#10000productPrice").html(price10000cnt * obj.dataset.price);
            } else {
                html += "<tr id='10000product'>";
                html += "<td>";
                html += "<img src='"+obj.dataset.nftimg+"' alt='' width='40' class='me-2 rounded-circle'>";
                html += obj.dataset.nftnm;
                html += "</td>";
                html += "<td id='10000productCnt'>"+price10000cnt+"</td>";
                html += "<td id='10000productPrice'>"+price10000cnt * obj.dataset.price+"</td>";
                html += "<td><span><i class='ri-delete-bin-line me-3' onclick='removeProduct("+obj.dataset.price+");'></i></span></td>";
                html += "</tr>";
            }
            $("#selectBody").append(html);
        } else if (obj.dataset.price == '30000') {
            fnViewAlarm(obj.dataset.nftnm +' 상품을 선택하였습니다.');
            price30000cnt++;
            price30000seq = obj.dataset.sellseq;
            if ($("#30000product").length > 0) {
                $("#30000productCnt").html(price30000cnt);
                $("#30000productPrice").html(price30000cnt * obj.dataset.price);
            } else {
                html += "<tr id='30000product'>";
                html += "<td>";
                html += "<img src='"+obj.dataset.nftimg+"' alt='' width='40' class='me-2 rounded-circle'>";
                html += obj.dataset.nftnm;
                html += "</td>";
                html += "<td id='30000productCnt'>"+price30000cnt+"</td>";
                html += "<td id='30000productPrice'>"+price30000cnt * obj.dataset.price+"</td>";
                html += "<td><span><i class='ri-delete-bin-line me-3' onclick='removeProduct("+obj.dataset.price+");'></i></span></td>";
                html += "</tr>";
            }
            $("#selectBody").append(html);
        } else if (obj.dataset.price == '50000') {
            fnViewAlarm(obj.dataset.nftnm +' 상품을 선택하였습니다.');
            price50000cnt++;
            price50000seq = obj.dataset.sellseq;
            if ($("#50000product").length > 0) {
                $("#50000productCnt").html(price50000cnt);
                $("#50000productPrice").html(price50000cnt * obj.dataset.price);
            } else {
                html += "<tr id='50000product'>";
                html += "<td>";
                html += "<img src='"+obj.dataset.nftimg+"' alt='' width='40' class='me-2 rounded-circle'>";
                html += obj.dataset.nftnm;
                html += "</td>";
                html += "<td id='50000productCnt'>"+price50000cnt+"</td>";
                html += "<td id='50000productPrice'>"+price50000cnt * obj.dataset.price+"</td>";
                html += "<td><span><i class='ri-delete-bin-line me-3' onclick='removeProduct("+obj.dataset.price+");'></i></span></td>";
                html += "</tr>";
            }
            $("#selectBody").append(html);
        } else if (obj.dataset.price == '100000') {
            fnViewAlarm(obj.dataset.nftnm +' 상품을 선택하였습니다.');
            price100000cnt++;
            price100000seq = obj.dataset.sellseq;
            if ($("#100000product").length > 0) {
                $("#100000productCnt").html(price100000cnt);
                $("#100000productPrice").html(price100000cnt * obj.dataset.price);
            } else {
                html += "<tr id='100000product'>";
                html += "<td>";
                html += "<img src='"+obj.dataset.nftimg+"' alt='' width='40' class='me-2 rounded-circle'>";
                html += obj.dataset.nftnm;
                html += "</td>";
                html += "<td id='100000productCnt'>"+price100000cnt+"</td>";
                html += "<td id='100000productPrice'>"+price100000cnt * obj.dataset.price+"</td>";
                html += "<td><span><i class='ri-delete-bin-line me-3' onclick='removeProduct("+obj.dataset.price+");'></i></span></td>";
                html += "</tr>";
            }
            $("#selectBody").append(html);
        } else if (obj.dataset.price == '150000') {
            fnViewAlarm(obj.dataset.nftnm +' 상품을 선택하였습니다.');
            price150000cnt++;
            price150000seq = obj.dataset.sellseq;
            if ($("#150000product").length > 0) {
                $("#150000productCnt").html(price150000cnt);
                $("#150000productPrice").html(price150000cnt * obj.dataset.price);
            } else {
                html += "<tr id='150000product'>";
                html += "<td>";
                html += "<img src='"+obj.dataset.nftimg+"' alt='' width='40' class='me-2 rounded-circle'>";
                html += obj.dataset.nftnm;
                html += "</td>";
                html += "<td id='150000productCnt'>"+price150000cnt+"</td>";
                html += "<td id='150000productPrice'>"+price150000cnt * obj.dataset.price+"</td>";
                html += "<td><span><i class='ri-delete-bin-line me-3' onclick='removeProduct("+obj.dataset.price+");'></i></span></td>";
                html += "</tr>";
            }
            $("#selectBody").append(html);
        } else if (obj.dataset.price == '200000') {
            fnViewAlarm(obj.dataset.nftnm +' 상품을 선택하였습니다.');
            price200000cnt++;
            price200000seq = obj.dataset.sellseq;
            if ($("#200000product").length > 0) {
                $("#200000productCnt").html(price200000cnt);
                $("#200000productPrice").html(price200000cnt * obj.dataset.price);
            } else {
                html += "<tr id='200000product'>";
                html += "<td>";
                html += "<img src='"+obj.dataset.nftimg+"' alt='' width='40' class='me-2 rounded-circle'>";
                html += obj.dataset.nftnm;
                html += "</td>";
                html += "<td id='200000productCnt'>"+price200000cnt+"</td>";
                html += "<td id='200000productPrice'>"+price200000cnt * obj.dataset.price+"</td>";
                html += "<td><span><i class='ri-delete-bin-line me-3' onclick='removeProduct("+obj.dataset.price+");'></i></span></td>";
                html += "</tr>";
            }
            $("#selectBody").append(html);
        } else if (obj.dataset.price == '500000') {
            fnViewAlarm(obj.dataset.nftnm +' 상품을 선택하였습니다.');
            price500000cnt++;
            price500000seq = obj.dataset.sellseq;
            if ($("#500000product").length > 0) {
                $("#500000productCnt").html(price500000cnt);
                $("#500000productPrice").html(price500000cnt * obj.dataset.price);
            } else {
                html += "<tr id='500000product'>";
                html += "<td>";
                html += "<img src='"+obj.dataset.nftimg+"' alt='' width='40' class='me-2 rounded-circle'>";
                html += obj.dataset.nftnm;
                html += "</td>";
                html += "<td id='500000productCnt'>"+price500000cnt+"</td>";
                html += "<td id='500000productPrice'>"+price500000cnt * obj.dataset.price+"</td>";
                html += "<td><span><i class='ri-delete-bin-line me-3' onclick='removeProduct("+obj.dataset.price+");'></i></span></td>";
                html += "</tr>";
            }
            $("#selectBody").append(html);
        } else if (obj.dataset.price == '1000000') {
            fnViewAlarm(obj.dataset.nftnm +' 상품을 선택하였습니다.');
            price1000000cnt++;
            price1000000seq = obj.dataset.sellseq;
            if ($("#1000000product").length > 0) {
                $("#1000000productCnt").html(price1000000cnt);
                $("#1000000productPrice").html(price1000000cnt * obj.dataset.price);
            } else {
                html += "<tr id='1000000product'>";
                html += "<td>";
                html += "<img src='"+obj.dataset.nftimg+"' alt='' width='40' class='me-2 rounded-circle'>";
                html += obj.dataset.nftnm;
                html += "</td>";
                html += "<td id='1000000productCnt'>"+price1000000cnt+"</td>";
                html += "<td id='1000000productPrice'>"+price1000000cnt * obj.dataset.price+"</td>";
                html += "<td><span><i class='ri-delete-bin-line me-3' onclick='removeProduct("+obj.dataset.price+");'></i></span></td>";
                html += "</tr>";
            }
            $("#selectBody").append(html);
        }

        totalCnt = price10000cnt + price30000cnt + price50000cnt + price100000cnt + price150000cnt + price200000cnt + price500000cnt + price1000000cnt;
        $("#totalCnt").html(totalCnt + ' Items');
    }

    clearBtn.addEventListener('click', function () {
        price.value = 0
        price10000cnt = 0;
        price10000seq = 0;
        price30000cnt = 0;
        price30000seq = 0;
        price50000cnt = 0;
        price50000seq = 0;
        price100000cnt = 0;
        price100000seq = 0;
        price150000cnt = 0;
        price150000seq = 0;
        price200000cnt = 0;
        price200000seq = 0;
        price500000cnt = 0;
        price500000seq = 0;
        price1000000cnt = 0;
        price1000000seq = 0;
        $("#selectBody").html("");
        totalCnt = 0;
        $("#totalCnt").html('0 Items');
        // $('.modal-text').html('금액을 입력해주세요.');
    })

    nextBtn.addEventListener('click', () => {
        if (price.value == "" || price.value == 0) {
            $('#modal-text').html('NFT상품을 선택해주세요.');
            $('#viewAlarm').modal('show')
            // alert('금액을 입력해주세요.');
            $("#price").val(0);
        } else {
            $.ajax({
                url: '/p/showAccount',
                dataType: 'json',
                type: 'POST',
                data: null,
                success: function (result) {
                    console.log(result)
                    if (result.success) {
                        $("#totalPrice").html($("#price").val()+" KRW");
                        $("#acc_nm").html(result.data.acc_nm);
                        $("#bank_nm").html(result.data.bank_nm);
                        $("#bank_acc").html(result.data.bank_acc);
                        $("#bank_seq").val(result.data.seq);

                        let trLen = $("#selectBody > tr").length;
                        $("#selectNft").html("");
                        let html = "";
                        for (let i=0; i<trLen; i++) {
                            html += "<tr>"
                            html += "<td>"
                            html += $("#selectBody > tr:eq("+i+") > td:eq(0)").text();
                            html += "</td>"
                            html += "<td>"
                            html += $("#selectBody > tr:eq("+i+") > td:eq(1)").text();
                            html += "</td>"
                            html += "<td>"
                            html += $("#selectBody > tr:eq("+i+") > td:eq(2)").text();
                            html += "</td>"
                            html += "</tr>"
                        }
                        $("#selectNft").append(html);
                        $('#buyAlarm').modal('show');
                    } else {
                        $('#modal-text').html('계좌 확인 시 오류가 발생했습니다.');
                        $('#viewAlarm').modal('show')
                        // alert('계좌 확인 시 오류가 발생했습니다.');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#modal-text').html('계좌 확인 시 오류가 발생했습니다.');
                    $('#viewAlarm').modal('show')
                    // alert('계좌 확인 시 오류가 발생했습니다.');
                } //function끝
            });
        }
    })

    function fnBuy() {
        let objKrw = $('input[name=price]').val();
        // if (parseInt(objKrw) < 10000) {
        //     $('#modal-text').html('만원 이상 구매 가능합니다.');
        //     $('#viewAlarm').modal('show')
        //     return;
        // }
        let max_amt = $('input[name=max_amt]').val();
        let min_amt = $('input[name=min_amt]').val();

        if (parseInt(objKrw) < parseInt(min_amt * 10000)) {
            $('#modal-text').html(min_amt + '만원 이상 구매 가능합니다.');
            $('#viewAlarm').modal('show');
            // alert(min_amt + '만원 이상 구매 가능합니다.');
            return;
        }

        if (parseInt(objKrw) > parseInt(max_amt * 10000)) {
            $('#modal-text').html(max_amt + '만원 이하 구매 가능합니다.');
            $('#viewAlarm').modal('show');
            // alert(max_amt + '만원 이하 구매 가능합니다.');
            return;
        }

        $.ajax({
            url: '/p/buy',
            dataType: 'json',
            type: 'POST',
            data: {
                objKrw: objKrw,
                price10000cnt: price10000cnt,
                price10000seq: price10000seq,
                price30000cnt: price30000cnt,
                price30000seq: price30000seq,
                price50000cnt: price50000cnt,
                price50000seq: price50000seq,
                price100000cnt: price100000cnt,
                price100000seq: price100000seq,
                price150000cnt: price150000cnt,
                price150000seq: price150000seq,
                price200000cnt: price200000cnt,
                price200000seq: price200000seq,
                price500000cnt: price500000cnt,
                price500000seq: price500000seq,
                price1000000cnt: price1000000cnt,
                price1000000seq: price1000000seq,
                bankSeq: $("#bank_seq").val(),
            },
            success: function (result) {

                console.log('result : ' + JSON.stringify(result))
                if (result.success) {
                    $('#buyAlarm').modal('hide');
                    $("#viewAlarmLabel").html('구매신청완료')
                    $('#modal-text').html('구매를 신청 하셨습니다. 입금 확인 후 구매 됩니다.');
                    $('#viewAlarm').modal('show')
                    clearBtn.click();
                } else {
                    $('#buyAlarm').modal('hide')
                    $('#modal-text').html(result.message);
                    $('#viewAlarm').modal('show')
                    clearBtn.click();
                }

                // $('#viewAlarm').modal('hide')
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#modal-text').html('세션이 종료 되었습니다. 로그인 후 다시 이용해 주세요.');
                $('#viewAlarm').modal('show');
            }
        });
    }

    function removeProduct(price) {
        let selectPrice = parseInt($("#"+price+"productPrice").html());
        let selectCnt = parseInt($("#"+price+"productCnt").html());
        $("#price").val($("#price").val() - selectPrice);

        if (price == '10000') {
            price10000cnt = 0;
            price10000seq = 0;
        } else if (price == '30000') {
            price30000cnt = 0;
            price30000seq = 0;
        }  else if (price == '50000') {
            price50000cnt = 0;
            price50000seq = 0;
        } else if (price == '100000') {
            price100000cnt = 0;
            price100000seq = 0;
        } else if (price == '150000') {
            price150000cnt = 0;
            price150000seq = 0;
        } else if (price == '200000') {
            price200000cnt = 0;
            price200000seq = 0;
        } else if (price == '500000') {
            price500000cnt = 0;
            price500000seq = 0;
        } else if (price == '1000000') {
            price1000000cnt = 0;
            price1000000seq = 0;
        }

        $("#totalCnt").html(totalCnt - parseInt(selectCnt) + " Items");
        $("#"+price+"product").remove();
    }
</script>
