<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/cdn') %>
    <title><%= config.found_text %> | Buy</title>
</head>
<body>
<div class="body-bg" style="background-image:url('/images/body-bg.jpg')">
    <%- include('includes/nav') %>
    <%- include('includes/header') %>
    <section class="nftmax-adashboard nftmax-show">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-12 nftmax-main__column">
                    <div class="nftmax-body">
                        <!-- Dashboard Inner -->
                        <div class="nftmax-dsinner">

                            <!-- Welcome CTA -->
                            <!-- End Welcome CTA -->

                            <!-- Marketplace Bar -->
                            <div class="nftmax-marketplace__bar mg-top-20 mg-btm-40">
                                <div class="nftmax-marketplace__bar-inner">

                                    <div class="nftmax-marketplace__bar-right">
                                        <div class="nftmax-marketplace__bar-one">

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Welcome CTA -->
                            <div class="trending-action">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="tab-content" id="nav-tabContent">
                                            <!-- Single Tab -->
                                            <div class="tab-pane fade show active" id="id1" role="tabpanel" aria-labelledby="nav-home-tab">
                                                <div class="row nftmax-gap-sq30" id="price-group">
                                                    <% nftList.forEach(function(el, index) { %>
                                                        <div class="col-lg-4 col-md-6 col-12">
                                                            <!-- Marketplace Single Item -->
                                                            <div class="trending-action__single trending-action__single--v2">
                                                                <div class="nftmax-trendmeta">
                                                                    <div class="nftmax-trendmeta__main">

                                                                    </div>
                                                                </div>
                                                                <!-- Trending Head -->
                                                                <div class="trending-action__head">
                                                                    <div class="trending-action__badge"></div>
                                                                    <div class="trending-action__button v2">
                                                                    </div>
                                                                    <img src="<%=nftMallUrl%><%=el.nft_img%>" alt="#">
                                                                </div>
                                                                <!-- Trending Body -->
                                                                <div class="trending-action__body trending-marketplace__body">
                                                                    <h2 class="trending-action__title mb-2"><%=el.nft_nm%></h2>
                                                                    <div class="nftmax-currency">
                                                                        <div class="nftmax-currency__main">
                                                                            <div class="nftmax-currency__content">
                                                                                <h4 class="nftmax-currency__content-title"><%=Number(el.sell_price).toLocaleString('ko-KR')%> KRW</h4>
                                                                                <p class="nftmax-currency__content-sub"><%=Number(el.buy_amount).toLocaleString('ko-KR')%> / <%=Number(el.sell_amount).toLocaleString('ko-KR')%></p>
                                                                            </div>
                                                                        </div>
                                                                        <a href="javascript:void(0);" class="nftmax-btn nftmax-btn__secondary radius" data-price='<%=el.sell_price%>' data-sellSeq="<%=el.sell_seq%>" data-nftNm="<%=el.nft_nm%>" data-nftImg="<%=nftMallUrl%><%=el.nft_img%>" data-index="<%=index%>" onclick="selectPrice(this);">선택</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Marketplace Item -->
                                                        </div>
                                                    <% })%>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Welcome CTA -->
                        </div>
                        <!-- End Dashboard Inner -->
                    </div>
                </div>
                <input type="hidden" name='max_amt' id="max_amt" value="<%= config.max_amt %>">
                <input type="hidden" name='min_amt' id="min_amt" value="<%= config.min_amt %>">

                <div class="col-xxl-12 col-12 nftmax-main__sidebar">
                    <div class="welcome-cta mg-top-40">
                        <div class="welcome-cta__heading">
                            <h2 class="welcome-cta__title">구매 금액</h2>
                            <p class="welcome-cta__text" id="totalCnt">0 Items</p>
                        </div>
                        <div class="welcome-cta__button">
                            <input type="hidden" class="text-primary" id="price" name="price" style="border: none; background-color: inherit;" readonly>
                            <input class="nftmax-btn nftmax-btn__bordered bg" name="price_view" id="price_view" readonly style="cursor: not-allowed" value="0">
                            <p class="nftmax-btn trs-white bl-color mb-0">KRW</p>
                        </div>
                    </div>
                    <div class="nftmax-sidebar mg-top-40">
                        <div class="row">
                            <div class="col-xxl-12 col-xl-12 col-12">
                                <!-- NFTMax Single Sidebar -->
                                <div class="nftmax-sidebar__single" style="padding: 20px;">
                                    <!-- Sidebar Heading -->
                                    <div class="nftmax-sidebar__heading">
                                        <h4 class="nftmax-sidebar__title">구매 상품</h4>
                                    </div>
                                    <!-- Sidebar Creator Lists -->
                                    <div class="nftmax-sidebar__creators">
                                        <ul class="nftmax-sidebar__creatorlist" id="selectBody">
                                        </ul>
                                        <div class="mt-4">
                                            <a href="javascript:void(0);" class="nftmax-btn nftmax-btn__primary radius clear-btn">초기화</a>
                                            <a href="javascript:void(0);" class="nftmax-btn nftmax-btn__secondary radius next-btn">구매하기</a>
                                        </div>
                                    </div>
                                    <!-- End Sidebar Creator Lists -->
                                </div>
                                <!-- End NFTMax Single Sidebar -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="nftmax-preview__modal modal fade" id="buyAlarm" tabindex="-1" aria-labelledby="logoutmodal" aria-hidden="true" >
            <div class="modal-dialog modal-dialog-centered nftmax-close__modal-close">
                <div class="modal-content nftmax-preview__modal-content">
                    <div class="modal-header nftmax__modal__header">
                        <h4 class="modal-title nftmax-preview__modal-title" id="logoutmodal">Buy</h4>
                        <button type="button" class="nftmax-preview__modal--close btn-close" data-bs-dismiss="modal" aria-label="Close"><svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M36 16.16C36 17.4399 36 18.7199 36 20.0001C35.7911 20.0709 35.8636 20.2554 35.8385 20.4001C34.5321 27.9453 30.246 32.9248 22.9603 35.2822C21.9006 35.6251 20.7753 35.7657 19.6802 35.9997C18.4003 35.9997 17.1204 35.9997 15.8401 35.9997C15.5896 35.7086 15.2189 35.7732 14.9034 35.7093C7.77231 34.2621 3.08728 30.0725 0.769671 23.187C0.435002 22.1926 0.445997 21.1199 0 20.1599C0 18.7198 0 17.2798 0 15.8398C0.291376 15.6195 0.214408 15.2656 0.270759 14.9808C1.71321 7.69774 6.02611 2.99691 13.0428 0.700951C14.0118 0.383805 15.0509 0.386897 15.9999 0C17.2265 0 18.4532 0 19.6799 0C19.7156 0.124041 19.8125 0.136067 19.9225 0.146719C27.3 0.868973 33.5322 6.21922 35.3801 13.427C35.6121 14.3313 35.7945 15.2484 36 16.16ZM33.011 18.0787C33.0433 9.77105 26.3423 3.00309 18.077 2.9945C9.78479 2.98626 3.00344 9.658 2.98523 17.8426C2.96667 26.1633 9.58859 32.9601 17.7602 33.0079C26.197 33.0577 32.9787 26.4186 33.011 18.0787Z" fill="#374557" fill-opacity="0.6"></path><path d="M15.9309 18.023C13.9329 16.037 12.007 14.1207 10.0787 12.2072C9.60071 11.733 9.26398 11.2162 9.51996 10.506C9.945 9.32677 11.1954 9.0811 12.1437 10.0174C13.9067 11.7585 15.6766 13.494 17.385 15.2879C17.9108 15.8401 18.1633 15.7487 18.6375 15.258C20.3586 13.4761 22.1199 11.7327 23.8822 9.99096C24.8175 9.06632 26.1095 9.33639 26.4967 10.517C26.7286 11.2241 26.3919 11.7413 25.9133 12.2178C24.1757 13.9472 22.4477 15.6855 20.7104 17.4148C20.5228 17.6018 20.2964 17.7495 20.0466 17.9485C22.0831 19.974 24.0372 21.8992 25.9689 23.8468C26.9262 24.8119 26.6489 26.1101 25.4336 26.4987C24.712 26.7292 24.2131 26.3441 23.7455 25.8757C21.9945 24.1227 20.2232 22.3892 18.5045 20.6049C18.0698 20.1534 17.8716 20.2269 17.4802 20.6282C15.732 22.4215 13.9493 24.1807 12.1777 25.951C11.7022 26.4262 11.193 26.7471 10.4738 26.4537C9.31345 25.9798 9.06881 24.8398 9.98589 23.8952C11.285 22.5576 12.6138 21.2484 13.9387 19.9355C14.5792 19.3005 15.2399 18.6852 15.9309 18.023Z" fill="#374557" fill-opacity="0.6"></path></svg></button>
                    </div>
                    <div class="modal-body nftmax-modal__body modal-body nftmax-close__body" style="padding: 10px 20px;">
                        <div class="nftmax-preview__close">

                            <ul class="nftmax-wallet__list" style="gap: 10px;width: 100%;">
                                <!-- Single Wallet -->
                                <li  class="nftmax-wallet__list-single" style="padding : 5px 15px;">
                                    <div class="nftmax-balance-info m-1">
                                        <p style="margin-bottom: 1px;">선택하신 상품과 결제 금액을 확인해주세요. <br/>구매를 진행하시겠습니까? </p>
                                    </div>
                                </li>
                                <!-- End Single Wallet -->
                                <!-- Single Wallet -->
                                <!-- End Single Wallet -->
                                <!-- Single Wallet -->
                                <li class="nftmax-wallet__list-single" style="padding : 5px 15px;">
                                    <div class="nftmax-balance-info mt-1">
                                        <h4>NFT 결제금액 :&nbsp;</h4>
                                        <h4 id="totalPrice"></h4>
                                    </div>
                                </li>
                                <li class="nftmax-wallet__list-single" style="padding : 5px 15px;">
                                    <table id="nftmax-table__main" class="nftmax-table__main nftmax-table__main-v1">
                                        <!-- NFTMax Table Head -->
                                        <thead class="nftmax-table__head">
                                        <tr>
                                            <th class="nftmax-table__column-1 nftmax-table__h1">상품</th>
                                            <th class="nftmax-table__column-2 nftmax-table__h2">수량</th>
                                            <th class="nftmax-table__column-3 nftmax-table__h3">금액</th>
                                        </tr>
                                        </thead>
                                        <!-- NFTMax Table Body -->
                                        <tbody class="nftmax-table__body" id="selectNft">
                                        </tbody>
                                    </table>
                                </li>
                                <input type="hidden" id="bank_seq">
                                <li class="nftmax-wallet__list-single" style="padding : 5px 15px;">
                                    <div class="nftmax-balance-info">
                                        <p style="margin-bottom: 1px;">NFT 판매자 성명 :&nbsp;</p>
                                        <p style="margin-bottom: 1px;" id="acc_nm"></p>
                                    </div>
                                </li>
                                <li class="nftmax-wallet__list-single" style="padding : 5px 15px;">
                                    <div class="nftmax-balance-info">
                                        <p style="margin-bottom: 1px;">입금은행 :&nbsp;</p>
                                        <p style="margin-bottom: 1px;" id="bank_nm"></p>
                                    </div>
                                </li>
                                <!-- End Single Wallet -->
                                <!-- Single Wallet -->
                                <li  class="nftmax-wallet__list-single" style="padding : 5px 15px;">
                                    <div class="nftmax-balance-info">
                                        <p style="margin-bottom: 1px;">계좌번호 :&nbsp;</p>
                                        <p style="margin-bottom: 1px;" id="bank_acc"></p>
                                    </div>
                                </li>
                                <!-- End Single Wallet -->
                            </ul>
                            <div class="nftmax__item-button--group">
                                <button class="nftmax__item-button--single nftmax-btn nftmax-btn__bordered bg radius " data-bs-dismiss="modal" onclick="fnBuy()">확인</button>
                                <button class="nftmax__item-button--single nftmax-btn nftmax-btn__bordered--plus radius" data-bs-dismiss="modal"><span class="ntfmax__btn-textgr">취소</span> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</div>
</body>
</html>
<script>
    if ($("#price").val() == '') {
        $("#price").val(0);
    }

    let totalCnt = 0;
    let selectSellSeqArr = [];
    let selectBuyAmountArr = [];
    let selectSellPriceArr = [];
    const price = document.querySelector('#price');
    const clearBtn = document.querySelector('.clear-btn');
    const nextBtn = document.querySelector('.next-btn');

    function selectPrice(obj) {
        price.value = parseInt(price.value) + parseInt(obj.dataset.price);
        $("#price_view").val(Number(price.value).toLocaleString('ko-KR'));
        let html = "";
        fnAlertModal(obj.dataset.nftnm +' 상품을 선택하였습니다.');
        let selectRrice = obj.dataset.price;
        let i = obj.dataset.index;
        if ($("#"+i+"product").length > 0) {
            $("#"+i+"productPrice").html(((parseInt($("#"+i+"productCnt").html()) + 1) * obj.dataset.price));
            $("#"+i+"productPrice").html((Number((parseInt($("#"+i+"productCnt").html()) + 1) * obj.dataset.price).toLocaleString('ko-KR')));
            $("#"+i+"productCnt").html((parseInt($("#"+i+"productCnt").html()) + 1));
        } else {
            html += '<li id="'+i+'product">'
            html += '<div class="nftmax-sidebar__creator">';
            html += '<img src="'+obj.dataset.nftimg+'" alt="#">';
            html += '<a href="#"><b class="nftmax-sidebar__creator-name" id="'+i+'name">'+obj.dataset.nftnm+'</b></a>';
            html += '<span class="nftmax-sidebar__creator-link" id="'+i+'productPrice">'+Number(1 * obj.dataset.price).toLocaleString('ko-KR')+'</span>';
            html += '</div>';
            html += '    <div class="nftmax-sidebar__button">';
            html += '        <a href="javascript:void(0);" class="nftmax-request_request" id="'+i+'productCnt">1</a>';
            html += '        <a href="javascript:void(0);" class="nftmax-sidebar__button-btn nftmax-request_close" onclick="removeProduct(\''+obj.dataset.sellseq+'\',\''+obj.dataset.price+'\',\''+i+'\');"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></a>';
            html += '    </div>';
            html += '</li>';
        }
        totalCnt ++;
        $("#selectBody").append(html);

        if (selectSellSeqArr.includes(obj.dataset.sellseq)) {
            selectSellSeqArr.findIndex((element, index, array) => {
                if (element == obj.dataset.sellseq) {
                    selectBuyAmountArr[index] = selectBuyAmountArr[index] +1;
                    selectSellPriceArr[index] = String(parseInt(selectSellPriceArr[index]) + parseInt(obj.dataset.price));
                }
            });
        } else {
            selectSellSeqArr.push(obj.dataset.sellseq);
            selectBuyAmountArr.push(1);
            selectSellPriceArr.push(obj.dataset.price);
        }

        $("#totalCnt").html(totalCnt + ' Items');
    }

    clearBtn.addEventListener('click', function () {
        price.value = 0
        $("#price_view").val(0);
        $("#selectBody").html("");
        totalCnt = 0;
        $("#totalCnt").html('0 Items');
        selectSellSeqArr = [];
        selectBuyAmountArr = [];
        selectSellPriceArr = [];
        // $('.modal-text').html('금액을 입력해주세요.');
    })

    nextBtn.addEventListener('click', () => {
        if (price.value == "" || price.value == 0) {
            fnAlertModal('NFT상품을 선택해주세요.');
            $("#price").val(0);
        } else {
            $.ajax({
                url: '/p/showAccount',
                dataType: 'json',
                type: 'POST',
                data: null,
                success: function (result) {
                    if (result.success) {
                        $("#totalPrice").html($("#price_view").val()+" KRW");
                        $("#acc_nm").html(result.data.acc_nm);
                        $("#bank_nm").html(result.data.bank_nm);
                        $("#bank_acc").html(result.data.bank_acc);
                        $("#bank_seq").val(result.data.seq);

                        let trLen = $("#selectBody > li").length;
                        $("#selectNft").html("");
                        let html = "";
                        for (let i=0; i<trLen; i++) {
                            html += "<tr>"
                            html += "<td class='nftmax-table__column-1 nftmax-table__data-1'>"
                            html += $("#selectBody > li:eq(0) > .nftmax-sidebar__creator .nftmax-sidebar__creator-name").text();
                            html += "</td>"
                            html += "<td class='nftmax-table__column-2 nftmax-table__data-2'>"
                            html += $("#selectBody > li:eq(0) > .nftmax-sidebar__button .nftmax-request_request").text();
                            html += "</td>"
                            html += "<td class='nftmax-table__column-3 nftmax-table__data-3'>"
                            html += $("#selectBody > li:eq(0) > .nftmax-sidebar__creator .nftmax-sidebar__creator-link").text();
                            html += "</td>"
                            html += "</tr>"
                        }

                        console.log(trLen)

                        $("#selectNft").append(html);
                        $('#buyAlarm').modal('show');
                    } else {
                        fnAlertModal('계좌 확인 시 오류가 발생했습니다.');
                        // alert('계좌 확인 시 오류가 발생했습니다.');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    fnAlertModal('계좌 확인 시 오류가 발생했습니다.');
                    // alert('계좌 확인 시 오류가 발생했습니다.');
                } //function끝
            });
        }
    })

    function fnBuy() {
        let objKrw = $('input[name=price]').val();
        // if (parseInt(objKrw) < 10000) {
        //     fnAlertModal('만원 이상 구매 가능합니다.');
        //     $('#viewAlarm').modal('show')
        //     return;
        // }
        let max_amt = $('input[name=max_amt]').val();
        let min_amt = $('input[name=min_amt]').val();

        if (parseInt(objKrw) < parseInt(min_amt * 10000)) {
            return fnAlertModal(min_amt + '만원 이상 구매 가능합니다.');
            // alert(min_amt + '만원 이상 구매 가능합니다.');
        }

        if (parseInt(objKrw) > parseInt(max_amt * 10000)) {
            return fnAlertModal(max_amt + '만원 이하 구매 가능합니다.');
            // alert(max_amt + '만원 이하 구매 가능합니다.');
        }

        let data = {
            objKrw: objKrw,
            selectSellSeqArr: JSON.stringify(selectSellSeqArr),
            selectBuyAmountArr: JSON.stringify(selectBuyAmountArr),
            selectSellPriceArr: JSON.stringify(selectSellPriceArr),
            bankSeq: $("#bank_seq").val(),
        }

        $.ajax({
            url: '/p/buy',
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function (result) {
                if (result.success) {
                    $('#buyAlarm').modal('hide');
                    fnAlertModal('구매를 신청 하셨습니다. 입금 확인 후 구매 됩니다.');
                    clearBtn.click();
                } else {
                    fnAlertModal(result.message);
                    clearBtn.click();
                }
                // $('#viewAlarm').modal('hide')
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                fnAlertModal('세션이 종료 되었습니다. 로그인 후 다시 이용해 주세요.');
                
            }
        });
    }

    function removeProduct(sell_seq, price, index) {
        let selectPrice = parseInt(noneNumberComma($("#"+index+"productPrice").html()));
        let selectCnt = parseInt(noneNumberComma($("#"+index+"productCnt").html()));

        $("#price").val($("#price").val() - selectPrice);
        $("#price_view").val(Number($("#price").val()).toLocaleString('ko-KR'));

        totalCnt = totalCnt - selectCnt;
        $("#totalCnt").html(totalCnt + " Items");
        $("#"+index+"product").remove();

        var i = 0;
        while (i < selectSellSeqArr.length) {
            if (selectSellSeqArr[i] === sell_seq) {
                selectSellSeqArr.splice(i, 1);
                selectBuyAmountArr.splice(i, 1);
                selectSellPriceArr.splice(i, 1);
            } else {
                ++i;
            }
        }

    }
</script>
