<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/cdn') %>
    <title><%= config.found_text %> | Buy</title>
</head>
<body class="@@dashboard">
<div id="main-wrapper" class="show">
    <%- include('includes/header') %>
    <%- include('includes/nav') %>
    <div class="content-body">
        <div class="container">
            <div class="page-title">
                <div class="row align-items-center justify-content-between">
                    <div class="col-6">
                        <div class="page-title-content">
                            <h3>NFT 구매</h3>
                            <p class="mb-2">
                                NFT 선택 후 구매를 신청해 주시기 바랍니다.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-6 col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">판매자 정보</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 mb-3">
                                    <label class="form-label">성명</label>
                                    <div>
                                        구매하기 버튼 클릭시 확인
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 mb-3">
                                    <label class="form-label">은행</label>
                                    <div>
                                        구매하기 버튼 클릭시 확인
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xxl-6 col-xl-6 col-lg-6 mb-3">
                                    <label class="form-label">계좌정보</label>
                                    <div>
                                        구매하기 버튼 클릭시 확인
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="header-left">
                                <h4 class="card-title">구매금액</h4>
                            </div>
                            <div class="header-right">
                                <div class="text-end">
                                    <input type="text" id="price" name=price style="background-color: var(--bs-body-bg); border: none;" readonly>
                                    <input type="hidden" name='max_amt' id="max_amt" value="<%= config.max_amt %>">
                                    <input type="hidden" name='min_amt' id="min_amt" value="<%= config.min_amt %>">
                                </div>
                                <div class="text-end">
                                    &nbsp;KRW(원)
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row" id="price-group">
                                <% nftList.forEach(function(el, index) { %>
                                    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                        <div class="card items">
                                            <div class="card-body">
                                                <div class="items-img position-relative">
                                                    <img src="<%=el.nft_img%>" class="img-fluid rounded mb-3" alt="">
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <div class="text-end">
                                                        <h5 class="text-muted">+<%=el.sell_price%></h5>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-center mt-3">
                                                    <a href="#n" class="btn btn-primary" data-price='<%=el.sell_price%>' data-sellSeq="<%=el.sell_seq%>" onclick="selectPrice(this);">선택</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% })%>
<!--                                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6">-->
<!--                                    <div class="card items">-->
<!--                                        <div class="card-body">-->
<!--                                            <div class="items-img position-relative">-->
<!--                                                <img src="https://ipfs.io/ipfs/QmVC2yZgC2Z6ykEkSTTZdJE8Ts8zuSSJqeuZeajhwkBagz" class="img-fluid rounded mb-3" alt="">-->
<!--                                            </div>-->
<!--                                            <div class="d-flex justify-content-between">-->
<!--                                                <div class="text-end">-->
<!--                                                    <h5 class="text-muted">+10000</h5>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="d-flex justify-content-center mt-3">-->
<!--                                                <a href="#n" class="btn btn-primary" data-price='10000' data-nftSeq="1" onclick="selectPrice(this);">선택</a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6">-->
<!--                                    <div class="card items">-->
<!--                                        <div class="card-body">-->
<!--                                            <div class="items-img position-relative">-->
<!--                                                <img src="https://ipfs.io/ipfs/QmVC2yZgC2Z6ykEkSTTZdJE8Ts8zuSSJqeuZeajhwkBagz" class="img-fluid rounded mb-3" alt="">-->
<!--                                            </div>-->
<!--                                            <div class="d-flex justify-content-between">-->
<!--                                                <div class="text-end">-->
<!--                                                    <h5 class="text-muted">+30000</h5>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="d-flex justify-content-center mt-3">-->
<!--                                                <a href="#n" class="btn btn-primary" data-price='30000' data-nftSeq="2" onclick="selectPrice(this);">선택</a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>
                        <a href="#n" class="btn btn-primary w-full clear-btn">초기화</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="header-left">
                                <h4 class="card-title">주의사항</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <textarea readonly style="resize: none; height: 5rem; width: 100%; border: none;"><%= cmpnyInfo.input_info2 %></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#n" class="btn btn-success next-btn">구매하기</a>
        </div>
    </div>
</div>
</body>
<div class="modal fade" id="buyAlarm" tabindex="-1" aria-labelledby="buyAlarmLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="flex items-center justify-center px-5 py-2 text-sm bg-gray-200">
                <h5 class="items-center text-center text-black" id="buyAlarmLabel">
                    Notification
                </h5>
            </div>
            <div class="px-5 py-2 text-xs text-black rounded-none">
                <div class="py-3">
                    계좌 확인 하였습니다. <br/>
                    판매자 정보를 확인 후 입금 하시고, 입금 확인 후 NFT가 구매(전송)
                    됩니다. <br/>
                    확인 버튼 누르시면 구매 신청이 완료됩니다.<br/>
                    5분동안 입금 안할 시 자동 취소 됩니다.
                </div>
            </div>
            <div class="px-5 text-black">
                <div class="py-2 text-sm">판매자 정보</div>
                <div class="flex flex-col justify-center w-full h-full gap-1 pb-2 text-xs rounded">
                    <div class="flex items-center w-full">
                        <input type="hidden" id="bank_seq">
                        <div class="col-12 mb-3">
                            <label class="form-label">성명</label>
                            <p id="acc_nm">

                            </p>
                        </div>
                        <div class="col-12 mb-3">
                            <label class="form-label">은행</label>
                            <p id="bank_nm">

                            </p>
                        </div>
                        <div class="col-12 mb-3">
                            <label class="form-label">계좌번호</label>
                            <p id="bank_acc">

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="px-4 pb-2 modal-footer">
                <button type="button" class="w-full px-5 py-2 text-xs text-white rounded-md btn btn-dark" data-bs-dismiss="modal" onclick="fnBuy()">
                    확인
                </button>
            </div>
        </div>
    </div>
</div>
</html>
<script>
    if ($("#price").val() == '') {
        $("#price").val(0);
    }

    let price10000cnt = 0;
    let price10000seq = 0;
    let price30000cnt = 0;
    let price30000seq = 0;
    let price50000cnt = 0;
    let price50000seq = 0;
    let price100000cnt = 0;
    let price100000seq = 0;
    let price150000cnt = 0;
    let price150000seq = 0;
    let price200000cnt = 0;
    let price200000seq = 0;
    let price500000cnt = 0;
    let price500000seq = 0;
    let price1000000cnt = 0;
    let price1000000seq = 0;

    const price = document.querySelector('#price');
    const clearBtn = document.querySelector('.clear-btn');
    const nextBtn = document.querySelector('.next-btn');

    function selectPrice(obj) {
        price.value = parseInt(price.value) + parseInt(obj.dataset.price);
        if (obj.dataset.price == '10000') {
            price10000cnt++;
            price10000seq = obj.dataset.sellseq;
        } else if (obj.dataset.price == '30000') {
            price30000cnt++;
            price30000seq = obj.dataset.sellseq;
        } else if (obj.dataset.price == '50000') {
            price50000cnt++;
            price50000seq = obj.dataset.sellseq;
        } else if (obj.dataset.price == '100000') {
            price1000000cnt++;
            price1000000seq = obj.dataset.sellseq;
        } else if (obj.dataset.price == '150000') {
            price150000cnt++;
            price150000seq = obj.dataset.sellseq;
        } else if (obj.dataset.price == '200000') {
            price200000cnt++;
            price200000seq = obj.dataset.sellseq;
        } else if (obj.dataset.price == '500000') {
            price500000cnt++;
            price500000seq = obj.dataset.sellseq;
        } else if (obj.dataset.price == '1000000') {
            price1000000cnt++;
            price1000000seq = obj.dataset.sellseq;
        }
    }

    clearBtn.addEventListener('click', function () {
        price.value = 0
        price10000cnt = 0;
        price10000seq = 0;
        price30000cnt = 0;
        price30000seq = 0;
        price50000cnt = 0;
        price50000seq = 0;
        price100000cnt = 0;
        price100000seq = 0;
        price150000cnt = 0;
        price150000seq = 0;
        price200000cnt = 0;
        price200000seq = 0;
        price500000cnt = 0;
        price500000seq = 0;
        price1000000cnt = 0;
        price1000000seq = 0;
        // $('.modal-text').html('금액을 입력해주세요.');
    })

    nextBtn.addEventListener('click', () => {
        if (price.value == "" || price.value == 0) {
            // $('#modal-text').html('금액을 입력해주세요. ');
            // $('#viewAlarm').modal('show')
            alert('금액을 입력해주세요.');
            $("#price").val(0);
        } else {
            $.ajax({
                url: '/p/showAccount',
                dataType: 'json',
                type: 'POST',
                data: null,
                success: function (result) {
                    console.log(result)
                    if (result.success) {
                        $("#acc_nm").html(result.data.acc_nm);
                        $("#bank_nm").html(result.data.bank_nm);
                        $("#bank_acc").html(result.data.bank_acc);
                        $("#bank_seq").val(result.data.seq);
                        $('#buyAlarm').modal('show');
                    } else {
                        alert('계좌 확인 시 오류가 발생했습니다.');
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    // $('#modal-text').html('계좌 확인 시 오류가 발생했습니다.');
                    // $('#viewAlarm').modal('show')
                    alert('계좌 확인 시 오류가 발생했습니다.');
                } //function끝
            });
        }
    })

    function fnBuy() {
        let objKrw = $('input[name=price]').val();
        // if (parseInt(objKrw) < 10000) {
        //     $('#modal-text').html('만원 이상 구매 가능합니다.');
        //     $('#viewAlarm').modal('show')
        //     return;
        // }
        let max_amt = $('input[name=max_amt]').val();
        let min_amt = $('input[name=min_amt]').val();

        if (parseInt(objKrw) < parseInt(min_amt * 10000)) {
            // $('#modal-text').html(min_amt + '만원 이상 구매 가능합니다.');
            // $('#viewAlarm').modal('show');
            alert(min_amt + '만원 이상 구매 가능합니다.');
            return;
        }

        if (parseInt(objKrw) > parseInt(max_amt * 10000)) {
            // $('#modal-text').html(max_amt + '만원 이하 구매 가능합니다.');
            // $('#viewAlarm').modal('show');
            alert(max_amt + '만원 이하 구매 가능합니다.');
            return;
        }

        $.ajax({
            url: '/p/buy',
            dataType: 'json',
            type: 'POST',
            data: {
                objKrw: objKrw,
                price10000cnt: price10000cnt,
                price10000seq: price10000seq,
                price30000cnt: price30000cnt,
                price30000seq: price30000seq,
                price50000cnt: price50000cnt,
                price50000seq: price50000seq,
                price100000cnt: price100000cnt,
                price100000seq: price100000seq,
                price150000cnt: price150000cnt,
                price150000seq: price150000seq,
                price200000cnt: price200000cnt,
                price200000seq: price200000seq,
                price500000cnt: price500000cnt,
                price500000seq: price500000seq,
                price1000000cnt: price1000000cnt,
                price1000000seq: price1000000seq,
                bankSeq: $("#bank_seq").val(),
            },
            success: function (result) {

                console.log('result : ' + JSON.stringify(result))
                if (result.success) {
                    $('#buyAlarm').modal('hide');
                    // $('#modal-text').html('구매를 신청 하셨습니다.<br> 입금 확인 후 구매 됩니다. ');
                    alert('구매를 신청 하셨습니다. 입금 확인 후 구매 됩니다.');
                    // $("#price").val(0)
                    clearBtn.click();
                    // $('#viewAlarm').modal('show')
                } else {
                    $('#buyAlarm').modal('hide')
                    // $('#modal-text').html(result.message);
                    alert(result.message)
                    // $("#price").val(0)
                    clearBtn.click();
                    // $('#viewAlarm').modal('show')
                }

                // $('#viewAlarm').modal('hide')
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                // $('#viewAlarm').hide();
                // $('#modal-text').html('세션이 종료 되었습니다. 로그인 후 다시 이용해 주세요.')
                // $('#viewAlarm').modal('hide')
                alert('세션이 종료 되었습니다. 로그인 후 다시 이용해 주세요.');
            }
        });
    }
</script>
