<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/cdn') %>
    <title><%= config.found_text %> | Buy</title>
</head>
<body>
<div class="body-bg" style="background-image:url('/images/body-bg.jpg')">
    <%- include('includes/nav') %>
    <%- include('includes/header') %>
    <div class="body-bg" style="background-image:url('/images/body-bg.png');height: 100%;">
        <section class="nftmax-adashboard nftmax-show">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-12 nftmax-main__column">
                        <div class="nftmax-body">
                            <!-- Dashboard Inner -->
                            <div class="nftmax-dsinner">

                                <!-- Welcome CTA -->
                                <div class="trending-action">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="tab-content" id="nav-tabContent">
                                                <!-- Single Tab -->
                                                <div class="tab-pane fade show active" id="id1" role="tabpanel" aria-labelledby="nav-home-tab">
                                                    <div class="row nftmax-gap-sq30">
                                                        <% if (nftList.length > 0){ %>
                                                        <% nftList.forEach(function(el, index) { %>
                                                            <div class="col-lg-4 col-md-6 col-12">
                                                                <!-- Marketplace Single Item -->
                                                                <div class="trending-action__single trending-action__single--v2" style="height: 381px;">
                                                                    <!-- <div class="nftmax-trendmeta">
                                                                        <div class="nftmax-trendmeta__main">
                                                                            <div class="nftmax-trendmeta__author">
                                                                                <div class="nftmax-trendmeta__img">
                                                                                    <img src="/images/market-author-1.png" alt="#">
                                                                                </div>
                                                                                <div class="nftmax-trendmeta__content">
                                                                                    <span class="nftmax-trendmeta__small">Owned by</span>
                                                                                    <h4 class="nftmax-trendmeta__title">Rrayak John</h4>
                                                                                </div>
                                                                            </div>
                                                                            <div class="nftmax-trendmeta__author">
                                                                                <div class="nftmax-trendmeta__content">
                                                                                    <span class="nftmax-trendmeta__small">Create by</span>
                                                                                    <h4 class="nftmax-trendmeta__title">Yuaisn Kha</h4>
                                                                                </div>
                                                                                <div class="nftmax-trendmeta__img">
                                                                                    <img src="/images/market-author-2.png" alt="#">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div> -->
                                                                    <!-- Trending Head -->
                                                                    <div class="trending-action__head" >
                                                                        <!-- <div class="trending-action__badge"><span>Active</span></div>
                                                                        <div class="trending-action__button v2">
                                                                            <a class="trending-action__btn heart-icon"><i class="fa-solid fa-heart"></i></a>
                                                                            <a class="trending-action__btn"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                                                                        </div> -->
                                                                        <img src="<%=nftMallUrl%><%=el.file_path%>" alt="#" style="max-width: 344px;max-height: 251px;">
                                                                    </div>
                                                                    <!-- Trending Body -->
                                                                    <div class="trending-action__body trending-marketplace__body">
                                                                        <h2 class="trending-action__title mb-2"><%=el.nft_nm%></h2>
                                                                        <div class="nftmax-currency" style="height: 40px;">
                                                                            <div class="nftmax-currency__main">
                                                                                <div class="nftmax-currency__content">
                                                                                    <% if(el.price == 0) { %>
                                                                                    <h4 class="nftmax-currency__content-title"><%=el.buy_amount%> 개</h4>
                                                                                    <% } else { %>
                                                                                        <h4 class="nftmax-currency__content-title"><%=el.price.toLocaleString('ko-KR')%> KRW</h4>
                                                                                        <!-- <p class="nftmax-currency__content-sub"><%=el.price.toLocaleString('ko-KR')%> KRW</p> -->
                                                                                    <% } %>
                                                                                </div>
                                                                            </div>
                                                                            <% if(el.price > 0) { %>
                                                                            <a href="javascript:void(0);" class="nftmax-btn nftmax-btn__secondary radius" data-index="<%=index%>" onclick="fnIsAccount('<%=el.price.toLocaleString()%>', '<%=el.price%>', '<%=el.nft_seq%>')">판매</a>
                                                                            <% } %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- End Marketplace Item -->
                                                            </div>
                                                        <% }) %>
                                                        <%} else { %>
                                                                <div class="welcome-cta mg-top-40">
                                                                    <div class="welcome-cta__heading">
                                                                        <h2 class="welcome-cta__title">보유 NFT가 없습니다.</h2>
                                                                    </div>
                                                                </div>
                                                        <%}%>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Welcome CTA -->
                            </div>
                            <!-- End Dashboard Inner -->
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="nftmax-preview__modal modal fade" id="sellAlarm" tabindex="-1" aria-labelledby="logoutmodal" aria-hidden="true" >
                <div class="modal-dialog modal-dialog-centered nftmax-close__modal-close">
                    <div class="modal-content nftmax-preview__modal-content">
                        <div class="modal-header nftmax__modal__header">
                            <h4 class="modal-title nftmax-preview__modal-title" id="logoutmodal">에어드랍 재판매</h4>
                            <button type="button" class="nftmax-preview__modal--close btn-close" data-bs-dismiss="modal" aria-label="Close"><svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M36 16.16C36 17.4399 36 18.7199 36 20.0001C35.7911 20.0709 35.8636 20.2554 35.8385 20.4001C34.5321 27.9453 30.246 32.9248 22.9603 35.2822C21.9006 35.6251 20.7753 35.7657 19.6802 35.9997C18.4003 35.9997 17.1204 35.9997 15.8401 35.9997C15.5896 35.7086 15.2189 35.7732 14.9034 35.7093C7.77231 34.2621 3.08728 30.0725 0.769671 23.187C0.435002 22.1926 0.445997 21.1199 0 20.1599C0 18.7198 0 17.2798 0 15.8398C0.291376 15.6195 0.214408 15.2656 0.270759 14.9808C1.71321 7.69774 6.02611 2.99691 13.0428 0.700951C14.0118 0.383805 15.0509 0.386897 15.9999 0C17.2265 0 18.4532 0 19.6799 0C19.7156 0.124041 19.8125 0.136067 19.9225 0.146719C27.3 0.868973 33.5322 6.21922 35.3801 13.427C35.6121 14.3313 35.7945 15.2484 36 16.16ZM33.011 18.0787C33.0433 9.77105 26.3423 3.00309 18.077 2.9945C9.78479 2.98626 3.00344 9.658 2.98523 17.8426C2.96667 26.1633 9.58859 32.9601 17.7602 33.0079C26.197 33.0577 32.9787 26.4186 33.011 18.0787Z" fill="#374557" fill-opacity="0.6"></path><path d="M15.9309 18.023C13.9329 16.037 12.007 14.1207 10.0787 12.2072C9.60071 11.733 9.26398 11.2162 9.51996 10.506C9.945 9.32677 11.1954 9.0811 12.1437 10.0174C13.9067 11.7585 15.6766 13.494 17.385 15.2879C17.9108 15.8401 18.1633 15.7487 18.6375 15.258C20.3586 13.4761 22.1199 11.7327 23.8822 9.99096C24.8175 9.06632 26.1095 9.33639 26.4967 10.517C26.7286 11.2241 26.3919 11.7413 25.9133 12.2178C24.1757 13.9472 22.4477 15.6855 20.7104 17.4148C20.5228 17.6018 20.2964 17.7495 20.0466 17.9485C22.0831 19.974 24.0372 21.8992 25.9689 23.8468C26.9262 24.8119 26.6489 26.1101 25.4336 26.4987C24.712 26.7292 24.2131 26.3441 23.7455 25.8757C21.9945 24.1227 20.2232 22.3892 18.5045 20.6049C18.0698 20.1534 17.8716 20.2269 17.4802 20.6282C15.732 22.4215 13.9493 24.1807 12.1777 25.951C11.7022 26.4262 11.193 26.7471 10.4738 26.4537C9.31345 25.9798 9.06881 24.8398 9.98589 23.8952C11.285 22.5576 12.6138 21.2484 13.9387 19.9355C14.5792 19.3005 15.2399 18.6852 15.9309 18.023Z" fill="#374557" fill-opacity="0.6"></path></svg></button>
                        </div>
                        <div class="modal-body nftmax-modal__body modal-body nftmax-close__body" style="padding: 10px 20px;">
                            <div class="nftmax-preview__close">
    
                                <ul class="nftmax-wallet__list" style="gap: 10px;width: 100%;">
                                    <!-- Single Wallet -->
                                    <li  class="nftmax-wallet__list-single" style="padding : 5px 15px;">
                                        <div class="nftmax-balance-info m-1">
                                            <p style="margin-bottom: 1px;">에어드랍으로 보유하신 CNFT 판매를 진행하시겠습니까? <br/>내 정보에서 은행정보를 다시 한 번 확인해주세요.</p>
                                        </div>
                                    </li>
                                    <!-- <li class="nftmax-wallet__list-single" style="padding : 5px 15px;">
                                        <div class="nftmax-balance-info">
                                            <p style="margin-bottom: 1px;">수수료 :&nbsp;</p>
                                            <p style="margin-bottom: 1px;" id="operRate"></p>
                                        </div>
                                    </li> -->
                                    <li class="nftmax-wallet__list-single" style="padding : 5px 15px;">
                                        <div class="nftmax-balance-info mt-1">
                                            <h4 style="margin-bottom: 1px;">NFT보유금액 :&nbsp;</h4>
                                            <h4 style="margin-bottom: 1px;" id="myPrice"></h4>
                                        </div>
                                    </li>
                                    <input type="hidden" id="_myPrice"/>
                                    <input type="hidden" id="nftSeq"/>
                                    <li  class="nftmax-wallet__list-single" style="padding : 5px 15px;">
                                        <div class="nftmax__item-form--group ">
                                            <label class="nftmax__item-label">판매금액 : </label>
                                            <input class="nftmax__item-input ikon_bit_id" type="text" placeholder="" id="sellPrice" required="required" maxlength="30" style="height: 43px;">
                                        </div>
                                    </li>
                                    <li class="nftmax-wallet__list-single" style="padding : 5px 15px;">
                                        <div class="nftmax-balance-info mt-1">
                                            <h4 style="margin-bottom: 1px;" id="feeTitle"></h4>
                                            <h4 style="margin-bottom: 1px;" id="feePrice"></h4>
                                        </div>
                                    </li>
                                    <li class="nftmax-wallet__list-single" style="padding : 5px 15px;">
                                        <div class="nftmax-balance-info mt-1">
                                            <h4 style="margin-bottom: 1px;">지급금액 :&nbsp;</h4>
                                            <h4 style="margin-bottom: 1px;" id="payPrice"></h4>
                                        </div>
                                    </li>
                                    <!-- <li
                                    class="nftmax-wallet__list-single" style="padding : 5px 15px;">
                                        <div class="nftmax__item-radio--group">
                                            <input class="nftmax__item-radio-title" type="radio" placeholder="" name="buyType" required="required" value="package">
                                            <label class="nftmax__item-radio-label">패키지 구매</label>&nbsp;&nbsp;
                                            <input class="nftmax__item-radio-title" type="radio" placeholder="" name="buyType" required="required" value="trading">
                                            <label class="nftmax__item-radio-label">트레이딩 구매</label>
                                        </div>
                                    </li> -->
                                </ul>
                                <div class="nftmax__item-button--group">
                                    <button class="nftmax__item-button--single nftmax-btn nftmax-btn__bordered bg radius " data-bs-dismiss="modal" onclick="fnSell()">확인</button>
                                    <button class="nftmax__item-button--single nftmax-btn nftmax-btn__bordered--plus radius" data-bs-dismiss="modal"><span class="ntfmax__btn-textgr">취소</span> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
<%- include('includes/modal') %>
</html>
<script>

    function fnIsAccount(priceStr, price, nftSeq){
        wrapWindowByMaskShow();
        let data = {};
        $.ajax({
            url: "/m/fnIsAccount",
            dataType: "json",
            type: "POST",
            data: data,
            success: function (result) {
                console.log(result);
                wrapWindowByMaskHide();
                if (result.success) {
                    fnIsAleardy(priceStr, price, nftSeq);
                } else {
                    fnRedirectModal(result.message, "/m/profile?menu=account");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                wrapWindowByMaskHide();
                fnAlertModal("Failed due to an unknown server error.");
            }, //function끝
        });
    }

    function fnIsAleardy(priceStr, price, nftSeq){
        wrapWindowByMaskShow();
        let data = {};
        data.status = 'sell';
        $.ajax({
            url: "/p/aleardyCheck",
            dataType: "json",
            type: "POST",
            data: data,
            success: function (result) {
                console.log(result);
                wrapWindowByMaskHide();
                if (result.success) {
                    fnPinPop(priceStr, price, nftSeq);
                } else {
                    fnAlertModal(result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                wrapWindowByMaskHide();
                fnAlertModal("Failed due to an unknown server error.");
            }, //function끝
        });
    }

    function fnPinPop(price, _price, nftSeq){
        Swal.fire({
            title: '핀 번호를 입력해주세요.',
            customClass: {
                title: 'text-lg'
            },
            showCloseButton: true,
            html: `<input id="pinNum" type="password" maxLength="4" oninput="this.value = this.value.replace(/[^0-9]/g, '')" inputmode="numeric" placeholder="핀 번호" class="nftmax__item-input"  />`,
            preConfirm: async () => {
                let pin = $('#pinNum').val();
                if(!nullChk(pin)){
                    Swal.showValidationMessage('핀번호를 입력해주세요.');
                }else if(pin.length != 4){
                    Swal.showValidationMessage('핀번호를 4자리 입력해주세요.');
                }

                let data = {};
                data.pin = pin;
                wrapWindowByMaskShow();
                $.ajax({
                    url: "/m/pinnCheck",
                    dataType: "json",
                    type: "POST",
                    data: data,
                    success: function (result) {
                        console.log(result);
                        wrapWindowByMaskHide();
                        if (result.success) {
                            sellPop(price, _price, nftSeq);
                        } else {
                            fnAlertModal(result.message);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        wrapWindowByMaskHide();
                        fnAlertModal("Failed due to an unknown server error.");
                    }, //function끝
                });
            },
        });
    }

    function sellPop(price, _price, nftSeq) {
        $("#feeTitle").html("수수료(<%= config.sell_fee %>)% : ");
        $("#myPrice").html(price)
        $("#_myPrice").val(_price)
        $("#nftSeq").val(nftSeq)
        $('#sellAlarm').modal('show');
    }

    $("#sellPrice").keyup(function(e){
        var num = $("#sellPrice").val();
        $("#sellPrice").val(num.replace(/[^0-9]/g, ""));

        let price = $("#sellPrice").val();
        if(Number($("#_myPrice").val()) < Number(price)) {
            fnAlertModal(numberComma($("#_myPrice").val()) + "원까지 판매 가능합니다.");
            $("#sellPrice").val($("#_myPrice").val())
            $("#payPrice").html(Math.ceil(Number($("#_myPrice").val()) * (1 - Number("<%= config.sell_fee %>") / 100)).toLocaleString() )
            let feePrice = Number(noneNumberComma($("#_myPrice").val()))-(Number(noneNumberComma($("#payPrice").html())));
            if(feePrice <= 0){
                feePrice = 0 ;
            }
            $("#feePrice").html(feePrice.toLocaleString());
        } else {
            $("#payPrice").html(Math.ceil(Number(price) * (1 - Number("<%= config.sell_fee %>") / 100)).toLocaleString() )

            let feePrice = Number(price)-(Number(noneNumberComma($("#payPrice").html())));
            if(feePrice <= 0){
                feePrice = 0 ;
            }
            $("#feePrice").html(feePrice.toLocaleString());
        }
    });

    function fnSell() {
        let sellPrice = $('#sellPrice').val();

        let data = {
            sellPrice: sellPrice,
            nftSeq: $("#nftSeq").val()
        }

        console.log('data : ', data)
        wrapWindowByMaskShow();
        $.ajax({
            url: '/p/sell',
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function (result) {
                wrapWindowByMaskHide();
                if (result.success) {
                    $('#sellAlarm').modal('hide');
                    fnRefreshModal('판매 후 등록된 회원님의 계좌로 입금됩니다.');
                } else {
                    fnAlertModal(result.message);
                }
                // $('#viewAlarm').modal('hide')
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                fnAlertModal('세션이 종료 되었습니다. 로그인 후 다시 이용해 주세요.');
                wrapWindowByMaskHide();
                
            }
        });
    }
</script>
