<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/cdn') %>
    <title><%= config.found_text %> | Main</title>
</head>
<body class="@@dashboard">
    <div id="main-wrapper" class="show">
        <%- include('includes/header') %>
        <%- include('includes/nav') %>
        <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12 col-xl-12">
                        <div class="card welcome-profile">
                            <div class="card-body">
                                <h4>Available Balance [가용금액]</h4>
                                <p>
                                    <%= coinObj %> Point
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-6 col-xl-12">
                        <div class="card welcome-profile">
                            <div class="card-body">
                                <h4>전환</h4>
                                <p>
                                    <%= totTrans %> Point
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-12">
                        <div class="card welcome-profile">
                            <div class="card-body">
                                <h4>총 구매</h4>
                                <p>
                                    <%= totBalance %> Point
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card-body">
                        <div class="d-flex align-items-center"><span class="me-3 icon-circle bg-warning text-white"><i class="ri-question-answer-line"></i></span>
                            <div>
                                <h5 class="mb-0">NFT 구매하기</h5>
                                <p></p>
                                <a class="btn btn-primary" href="/p/buy">구매</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Transaction</h4>
                            <small>
                                <a href="/p/view">More</a>
                            </small>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table-icon">
                                <table class="table">
                                    <tbody>
                                    <% if (withdrawList.length > 0) {
                                        withdrawList.forEach(function(el, pageIndex) { %>
                                        <%
                                            let buy_num = 0;
                                            if (el.buy_num) buy_num = el.buy_num;
                                        %>
                                        <tr>
                                            <% let status = el.confirm_sts_name %>
                                            <% switch (status) {
                                                case '취소': %>
                                            <td>취소</td>
                                            <% break;
                                            case '대기': %>
                                            <td>대기</td>
                                            <% break;
                                            case '완료': %>
                                            <td>승인</td>
                                            <% break;
                                                default:
                                                    break; } %>
                                            <td>
                                                <%= el.create_dt %>
                                            </td>
                                            <td>
                                                <%= el.title %>
                                            </td>
                                            <td>
                                                <%= parseInt(buy_num).toLocaleString('ko-KR') %> Point
                                            </td>
                                        </tr>
                                    <% })} %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
