<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/cdn') %>

    <title><%= config.found_text %> | Main</title>
</head>
<body class="flex justify-center text-xs font-medium bg-gray-500 md:items-center md:h-screen" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
<div class="w-full md:h-[828px] max-w-2xl bg-gray-100 md:rounded-3xl md:shadow-lg md:shadow-gray-600">
    <div class="relative h-full px-2 pt-6 pb-20 rounded-lg basis-full md:px-6 md:rounded-3xl">
        <%- include('includes/header') %>
        <div class="mt-2">
            <div class="w-full h-auto px-8 py-4 font-extrabold bg-gray-900 rounded-md md:py-6">
                <h3 class="text-xs font-semibold text-white md:text-sm">
                    Available Balance [가용금액]
                </h3>
                <div class="pt-3 text-xl tracking-tighter text-right text-transparent md:text-5xl bg-clip-text bg-gradient-to-r from-pink-500 to-violet-500">
                    <span class=""><%= coinObj %></span>
                    <span class="text-3xl">KRW</span>
                </div>
            </div>
        </div>

        <div class="mt-2">
            <h2 class="text-base">Purchase History</h2>
            <div class="flex items-center justify-between gap-3 mb-3">
                <div class="w-full py-6 mt-2 text-white bg-blue-500 rounded-md">
                    <div class="pl-5">
                        <div>전환</div>
                    </div>
                    <h2 class="pt-2 pr-3 font-semibold text-right md:text-lg">
                        <%= totTrans %>
                        <span class="pl-0.5">KRW</span>
                    </h2>
                </div>
                <div class="w-full py-6 mt-2 text-white bg-blue-500 rounded-md">
                    <div class="pl-5">
                        <div>총 구매</div>
                    </div>
                    <h2 class="pt-2 pr-3 font-semibold text-right md:text-lg">
                        <%= totBalance %>
                        <span class="pl-0.5">KRW</span>
                    </h2>
                </div>
            </div>

            <a href="/p/buy" class="flex justify-center py-3 font-semibold tracking-wide text-white btn btn-gradient-cyan-blue rounded-3xl hover:bg-amber-500">
                구매하기
            </a>
        </div>

        <div class="mt-2 text-black">
            <div class="mt-2">
                <div class="flex items-end justify-between">
                    <h2 class="text-base">Transaction</h2>
                    <a href="/p/view" class="underline">More</a>
                </div>

                <div class="flex flex-col mt-2">
                    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                            <div class="px-3 py-2 mb-4 overflow-hidden shadow-sm rounded-2xl bg-gray-50 shadow-gray-200">
                                <%
                                if (withdrawList.length > 0) {
                                withdrawList.forEach(function(el, pageIndex) { %>
                                    <%
                                        let buy_num = 0;
                                        if (el.buy_num) buy_num = el.buy_num;
                                    %>
                                    <div class="flex sm:items-center justify-between px-1.5 py-2 border-b border-b-gray-50">
                                        <div class="flex flex-col items-center py-2 md:flex-row md:justify-between md:w-full">
                                            <% let status = el.confirm_sts_name %>
                                            <% switch (status) {
                                            case '취소': %>
                                            <div class="text-center badge badge-cancel py-1.5 w-20 text-white rounded-full">
                                                취소
                                            </div>
                                            <% break;
                                            case '대기': %>
                                            <div class="text-center badge badge-increase py-1.5 w-20 text-white rounded-full">
                                                대기
                                            </div>
                                            <% break;
                                            case '완료': %>
                                            <div class="text-center badge badge-approve py-1.5 w-20 text-white rounded-full">
                                                승인
                                            </div>
                                            <% break;
                                                default:
                                                    break; } %>
                                            <div class="mx-5 text-center"><%= el.create_dt %></div>
                                            <div class="hidden md:inline text-center badge badge-secondary py-1.5 w-20 rounded-full"><%= el.title %></div>
                                        </div>
                                        <div class="flex flex-col items-end justify-center w-full pr-2">
<!--                                            <div>-->
<!--                                                <%= parseInt(el.pay_num).toLocaleString('ko-KR') %> <span class="ml-2">Coin</span>-->
<!--                                            </div>-->
                                            <div class="text-red-300 md:text-sm"><%= parseInt(buy_num).toLocaleString('ko-KR') %>
                                                <span>KRW</span>
                                            </div>
                                        </div>
                                    </div>
                                <% })
                                }
                                %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Navigation | Start -->
        <%- include('includes/nav') %>
        <!-- Bottom Navigation | End -->
    </div>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/datepicker.js"></script>
</body>
</html>
