<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/cdn') %>
    <title><%= config.found_text %> | Main</title>
</head>
<body>

<div class="body-bg" style="background-image:url('/images/body-bg.png')" >
    <%- include('includes/nav') %>
    <%- include('includes/header') %>
    <!-- NFTmax Dashboard -->
    <div class="body-bg" style="background-image:url('/images/body-bg.png')" >
    <section class="nftmax-adashboard nftmax-show">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12 col-12 nftmax-main__column">
                    <div class="nftmax-body">
                        <!-- Dashboard Inner -->
                        <div class="nftmax-dsinner">
                            <!-- Dashboard Slider -->
                            <div class="dashboard-banner nftmax-bg-cover mg-top-40" style="background-image:url('/images/banner-bg.png')">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="dashboard-banner__main">
                                            <div class="dashboard-banner__column dashboard-banner__column--one">
                                                <!-- Dashboard Content -->
<!--                                                <div class="dashboard-banner__content">-->
<!--                                                    <h4 class="nftmax-header__author-title nftmax-header__author-title&#45;&#45;two nftmax-lspacing"><%=userId%></h4>-->
<!--                                                </div>-->

                                                <% if (nftList.length > 0) {%>
                                                <div class="dashboard-banner__slider">

                                                    <% nftList.forEach(function(el, index) { %>
                                                        <div class="dashboard-banner__single-slider">
                                                            <img src="<%=nftMallUrl%><%=el.nft_img%>" alt="<%=el.nft_nm%>">
                                                        </div>
                                                    <% })%>
                                                </div>
                                                <% } %>


                                            </div>
                                            <div class="dashboard-banner__column dashboard-banner__column--two">
                                                <div class="nftmax-header__author nftmax-header__author-two ">
                                                    <div class="nftmax-header__author-content ">
                                                        <h4 class="nftmax-header__author-title nftmax-header__author-title--two nftmax-lspacing"></h4>
                                                        <p class="nftmax-font-regular" style="color: #fff;">
                                                            CNFT는 CNX네트워크를 기반으로한 <br/>
                                                            메타버스 공간에서 메타버스간의 소통시<br/>
                                                            GAS로 사용되는 새로운 개념에 하이브리드코인입니다.<br/>
                                                        </p>
                                                        <div class="dashboard-banner__button" id="textMoreBtn">
                                                            <div class="dashboard-banner__single-btn">
                                                                <a onclick="fnViewMoreText();" class="nftmax-btn trs-white">더보기</a>
                                                            </div>
                                                        </div>

                                                        <hr/>
                                                        <p class="nftmax-font-regular" style="color: #fff; display: none;" id="textMoreArea">
                                                            CNFT는  COFINEX거래소의 CNX메인넷을 <br/>
                                                            기반으로 탄생한  CNM코인의 NFT형식코인이며,<br/>
                                                            메타버스 공간에에서의 <br/>
                                                            RISK FINANCING COIN으로<br/>
                                                            FINANCE UTILITY 중심 코인의 역할을<br/>
                                                            수행합니다.<br/>
                                                        </p>
                                                        <div class="dashboard-banner__button" id="textCloseBtn" style="display: none;">
                                                            <div class="dashboard-banner__single-btn">
                                                                <a onclick="fnViewColseText();" class="nftmax-btn trs-white">감추기</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="dashboard-banner__bids">
                                                    <div class="dashboard-banner__bid">
                                                        <!-- Single Bid -->
                                                        <div class="dashboard-banner__group" >
                                                            <p class="dashboard-banner__group-small">Klaytn Address</p>
                                                            <span class="dashboard-banner__group-title" style="word-break:break-all;cursor:pointer;font-size: 18px; text-decoration:underline;" onclick="fnCopy('<%=user.coinAddr%>')"><%=user.coinAddr%></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="nftmax-table mg-top-40">
                                <div class="nftmax-table__heading">
                                    <h3 class="nftmax-table__title mb-0">구매내역 [성공내역]</h3>
                                    <a class="nftmax-sidebar_btn nftmax-heading__tabs nav-link" href="/p/view" >더보기</a>
                                </div>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="table_1" role="tabpanel" aria-labelledby="table_1">
                                        <!-- NFTMax Table -->
                                        <table id="nftmax-table__main" class="nftmax-table__main nftmax-table__main-v1">
                                            <!-- NFTMax Table Head -->
                                            <thead class="nftmax-table__head">
                                            <tr>
                                                <th class="nftmax-table__column-2 nftmax-table__h2" style="text-align: left !important">상품</th>
                                                <th class="nftmax-table__column-4 nftmax-table__h4">수량</th>
                                                <th class="nftmax-table__column-3 nftmax-table__h3">구매일</th>
                                                <th class="nftmax-table__column-2 nftmax-table__h2">Klaytn Contract</th>
                                            </tr>
                                            </thead>
                                            <!-- NFTMax Table Body -->
                                            <tbody class="nftmax-table__body">
                                            <% if (withdrawList.length > 0) {%>
                                                <% withdrawList.forEach(function(el, index) { %>
                                                    <tr>
                                                        <td class="nftmax-table__column-2 nftmax-table__data-2">
                                                            <div class="nftmax-table__product">
                                                                <div class="nftmax-table__product-img">
                                                                    <img src="<%=nftMallUrl%><%=el.nft_img%>" alt="<%=el.nft_nm%>">
                                                                </div>
                                                                <div class="nftmax-table__product-content">
                                                                    <h4 class="nftmax-table__product-title"><%=el.nft_nm%></h4>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="nftmax-table__column-4 nftmax-table__data-4">
                                                            <p class="nftmax-table__text nftmax-table__bid-text"><%=Number(el.buy_amount).toLocaleString('ko-KR')%></p>
                                                        </td>
                                                        <td class="nftmax-table__column-3 nftmax-table__data-3">
                                                            <p class="nftmax-table__text nftmax-table__time"><%=el.create_dt%></p>
                                                        </td>
                                                        <td class="nftmax-table__column-2 nftmax-table__data-2">
                                                            <p class="nftmax-table__text nftmax-table__time"><%=el.send_txid%></p>
                                                        </td>
                                                    </tr>
                                            <% })%>
                                            <%}else{%>
                                                <tr>
                                                    <td class="nftmax-table__column-1 nftmax-table__data-1" colspan="3">
                                                        구매내역이 없습니다.
                                                    </td>
                                                </tr>
                                            <%}%>
                                            </tbody>
                                            <!-- End NFTMax Table Body -->
                                        </table>
                                        <!-- End NFTMax Table -->
                                    </div>
                                </div>
                            </div>
                            <!-- End Dashboard Slider -->

                            <!-- Welcome CTA -->
                            <!-- End Welcome CTA -->

                            <!-- Trending Action -->
                        </div>
                        <!-- End Dashboard Inner -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    <!-- End NFTmax Dashboard -->

</div>

<script>
    function fnViewMoreText(){
        $("#textMoreArea").show();
        $("#textCloseBtn").show();
        $("#textMoreBtn").hide();
    }
    function fnViewColseText(){
        $("#textMoreArea").hide();
        $("#textCloseBtn").hide();
        $("#textMoreBtn").show();
    }
</script>
<style>
    .dashboard-banner__bid{
        height: 7rem !important;
    }

    .nftmax-header__author.nftmax-header__author-two{
        margin-bottom: 15px;
    }
</style>
</body>

</html>
