<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/cdn') %>
    <title><%= config.found_text %> | Main</title>
</head>
<body class="@@dashboard">
    <div id="main-wrapper" class="show">
        <%- include('includes/header') %>
        <%- include('includes/nav') %>
        <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-sm-6">
                        <div class="stat-widget d-flex align-items-center">
                            <div class="widget-icon me-3 bg-primary"><span><i class="ri-file-copy-2-line"></i></span></div>
                            <div class="widget-content">
                                <h3><%= coinObj %> Point</h3>
                                <p>사용 가능한 포인트</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="stat-widget d-flex align-items-center">
                            <div class="widget-icon me-3 bg-success"><span><i class="ri-file-list-3-line"></i></span></div>
                            <div class="widget-content">
                                <h3><%= totTrans %> Point</h3>
                                <p>사용 포인트</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="stat-widget d-flex align-items-center">
                            <div class="widget-icon me-3 bg-warning"><span><i class="ri-file-paper-line"></i></span></div>
                            <div class="widget-content">
                                <h3><%= totBalance %> Point</h3>
                                <p>구매 포인트</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12 col-xl-12">
                        <div class="card m-0">
                            <div class="card-header">
                                <h4 class="card-title"></h4>
                                <a class="btn btn-primary" href="/p/buy">NFT 구매하기 -></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Transaction</h4>
                            <small>
                                <a href="/p/view">More</a>
                            </small>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table-icon">
                                <table class="table">
                                    <tbody>
                                    <% if (withdrawList.length > 0) {
                                        withdrawList.forEach(function(el, pageIndex) { %>
                                        <%
                                            let buy_num = 0;
                                            if (el.buy_num) buy_num = el.buy_num;
                                        %>
                                        <tr>
                                            <% let status = el.confirm_sts_name %>
                                            <% switch (status) {
                                                case '취소': %>
                                            <td>취소</td>
                                            <% break;
                                            case '대기': %>
                                            <td>대기</td>
                                            <% break;
                                            case '완료': %>
                                            <td>승인</td>
                                            <% break;
                                                default:
                                                    break; } %>
                                            <td>
                                                <%= el.create_dt %>
                                            </td>
                                            <td>
                                                <%= el.title %>
                                            </td>
                                            <td>
                                                <%= parseInt(buy_num).toLocaleString('ko-KR') %> Point
                                            </td>
                                        </tr>
                                    <% })} %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
