<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/cdn') %>
    <title><%= config.found_text %> | Profile</title>
</head>
<body>
<div class="body-bg" style="background-image:url('/images/body-bg.jpg')">
    <%- include('includes/nav') %>
    <%- include('includes/header') %>
    <div class="body-bg" style="background-image:url('/images/body-bg.png');height: 100%;">
    <section class="nftmax-adashboard nftmax-show">
        <div class="container">
            <div class="row">	
                <div class="col-lg-9 col-12 nftmax-main__column">
                    <div class="nftmax-body">
                        <!-- Dashboard Inner -->
                        <div class="nftmax-dsinner">
                            <!-- All Notification Heading -->
                            <div class="nftmax-inner__heading">
                                <h2 class="nftmax-inner__page-title">내 정보</h2>
                            </div>
                            <!-- End All Notification Heading -->
                        
                            <div class="nftmax-personals">
                                <div class="row">
                                    <div class="col-lg-3 col-md-2 col-12 nftmax-personals__list">
                                        <div class="nftmax-psidebar">
                                            <!-- Features Tab List -->
                                            <div class="list-group nftmax-psidebar__list" id="list-tab" role="tablist">
                                                <a class="list-group-item active" data-bs-toggle="list" href="#id1" role="tab"><span class="nftmax-psidebar__icon"><svg width="15" height="20" viewBox="0 0 15 20" class="fill-current" xmlns="http://www.w3.org/2000/svg"><path d="M10.8692 11.6667H4.13085C3.03569 11.668 1.98576 12.1036 1.21136 12.878C0.436961 13.6524 0.00132319 14.7023 0 15.7975V20H15.0001V15.7975C14.9987 14.7023 14.5631 13.6524 13.7887 12.878C13.0143 12.1036 11.9644 11.668 10.8692 11.6667Z"></path><path d="M7.49953 10C10.261 10 12.4995 7.76145 12.4995 5.00002C12.4995 2.23858 10.261 0 7.49953 0C4.7381 0 2.49951 2.23858 2.49951 5.00002C2.49951 7.76145 4.7381 10 7.49953 10Z"></path></svg></span><span class="nftmax-psidebar__title">내정보</span></a>
                                                <a class="list-group-item" data-bs-toggle="list" href="#id2" role="tab"><span class="nftmax-psidebar__icon"><svg width="19" height="14" viewBox="0 0 19 14" class="fill-current" xmlns="http://www.w3.org/2000/svg"><path d="M14.5258 0H3.82277C1.71401 0.00346265 0.00346265 1.71055 0 3.82277H18.3451C18.3451 1.71401 16.6346 0.00346265 14.5258 0Z"></path><path d="M0 9.93807C0.00346265 12.0468 1.71055 13.7574 3.82277 13.7608H14.5258C16.6346 13.7574 18.3451 12.0503 18.3486 9.93807V5.35352H0V9.93807ZM5.3498 9.55718C5.3498 10.1908 4.83733 10.7033 4.20366 10.7033C3.57 10.7033 3.05752 10.1908 3.05752 9.55718C3.05752 8.92351 3.57 8.41104 4.20366 8.41104C4.83733 8.41104 5.3498 8.92351 5.3498 9.55718Z"></path></svg></span><span class="nftmax-psidebar__title">은행</span></a>
                                                <a class="list-group-item" data-bs-toggle="list" href="#id5" role="tab"><span class="nftmax-psidebar__icon"><svg class="inline fill-current" width="18" height="21" viewBox="0 0 18 21" xmlns="http://www.w3.org/2000/svg"><path d="M14.4467 7.1581V5.94904C14.4467 2.66455 11.7822 0 8.49771 0C5.21323 0 2.54867 2.66455 2.54867 5.94904V7.1581C1.00076 7.83194 -0.000366211 9.36059 -0.000366211 11.0471V16.149C0.0034843 18.494 1.90178 20.3961 4.25059 20.4H12.7525C15.0975 20.3961 16.9996 18.4978 17.0035 16.149V11.051C16.9919 9.36059 15.9908 7.83579 14.4467 7.1581ZM9.34482 14.451C9.34482 14.9207 8.96362 15.3019 8.49386 15.3019C8.0241 15.3019 7.6429 14.9207 7.6429 14.451V12.749C7.6429 12.2793 8.0241 11.8981 8.49386 11.8981C8.96362 11.8981 9.34482 12.2793 9.34482 12.749V14.451ZM12.7448 6.8H4.24289V5.94904C4.24289 3.60023 6.14505 1.69807 8.49386 1.69807C10.8427 1.69807 12.7448 3.60023 12.7448 5.94904V6.8Z"></path></svg></span><span class="nftmax-psidebar__title">비밀번호 변경</span></a>
                                                <a class="list-group-item" data-bs-toggle="list" href="#id7" role="tab"><span class="nftmax-psidebar__icon"><svg width="17" height="21" viewBox="0 0 17 21" class="fill-current" xmlns="http://www.w3.org/2000/svg"><path d="M9.10101 0C9.10101 1.3622 9.10101 2.64618 9.10101 3.93017C9.10101 4.65363 9.29915 4.84916 10.0256 4.84916C11.3267 4.84916 12.6278 4.84916 13.9685 4.84916C13.9685 7.41061 13.9685 9.91992 13.9685 12.4879C12.4231 12.3706 11.0427 12.7356 9.90016 13.798C8.77739 14.8473 8.30847 16.1639 8.34149 17.7216C8.11033 17.7346 7.9122 17.7542 7.71406 17.7542C5.43551 17.7542 3.16356 17.7542 0.885004 17.7477C0.20474 17.7542 0 17.5456 0 16.8547C0 11.5885 0 6.32216 0 1.05587C0 0.156425 0.158508 0 1.07653 0C3.55322 0 6.03652 0 8.51981 0C8.68493 0 8.85004 0 9.10101 0ZM6.99417 8.1406C8.09052 8.1406 9.19347 8.1406 10.2898 8.1406C10.8512 8.1406 11.1946 7.89944 11.155 7.50838C11.1088 7.01955 10.7653 6.8892 10.3228 6.89572C9.35198 6.90223 8.38772 6.8892 7.41686 6.8892C6.16861 6.8892 4.92036 6.8892 3.67211 6.89572C3.0843 6.90223 2.79371 7.18249 2.88617 7.63222C2.97203 8.03631 3.27584 8.13408 3.63908 8.13408C4.76185 8.1406 5.87801 8.1406 6.99417 8.1406ZM7.0272 10.1676C5.91103 10.1676 4.79487 10.1741 3.67871 10.1676C3.2296 10.1676 2.88617 10.311 2.88617 10.8063C2.88617 11.2886 3.2296 11.3994 3.65229 11.3994C5.88462 11.3929 8.11694 11.3929 10.3559 11.3994C10.8116 11.3994 11.1682 11.2495 11.155 10.7737C11.1418 10.2914 10.772 10.1676 10.3228 10.1741C9.2265 10.1806 8.13015 10.1676 7.0272 10.1676ZM5.13831 14.6974C5.66006 14.6974 6.18182 14.7039 6.70357 14.6909C7.11305 14.6844 7.39705 14.5019 7.40365 14.0717C7.41026 13.635 7.12626 13.4655 6.71018 13.4655C5.66667 13.4721 4.62315 13.4655 3.58625 13.4655C3.17016 13.4655 2.88617 13.6285 2.88617 14.0652C2.89277 14.4888 3.17016 14.6844 3.57964 14.6844C4.09479 14.7039 4.61655 14.6974 5.13831 14.6974ZM5.01282 4.84264C5.49495 4.84264 5.98368 4.84916 6.46581 4.84264C6.84887 4.83613 7.13287 4.65363 7.14608 4.25605C7.15268 3.83892 6.8819 3.61732 6.46581 3.61732C5.49495 3.6108 4.52409 3.6108 3.55322 3.61732C3.16356 3.61732 2.89938 3.80633 2.87957 4.20391C2.85975 4.6406 3.15035 4.82961 3.55322 4.84264C4.04196 4.85568 4.52409 4.84264 5.01282 4.84264Z"></path><path d="M9.60305 17.3306C9.60965 15.3166 11.274 13.6937 13.3148 13.7002C15.3424 13.7067 17.0133 15.3687 17.0001 17.3697C16.9869 19.3706 15.3093 21.0065 13.2752 21C11.2476 20.9935 9.59644 19.3445 9.60305 17.3306ZM12.8062 17.5065C12.6147 17.3306 12.4892 17.2263 12.3703 17.1155C12.0731 16.8222 11.7363 16.77 11.4391 17.0699C11.1287 17.3827 11.2344 17.7021 11.525 17.9889C11.7495 18.2105 11.9675 18.4386 12.1986 18.6537C12.6213 19.0578 12.9383 19.0643 13.3544 18.6602C13.863 18.1713 14.3517 17.6695 14.8602 17.1807C15.1772 16.8743 15.3622 16.555 14.9857 16.19C14.6291 15.838 14.279 15.9684 13.9686 16.2943C13.5856 16.6853 13.2091 17.0894 12.8062 17.5065Z"></path><path d="M10.3955 3.56557C10.3955 2.43801 10.3955 1.32349 10.3955 0.228516C11.5183 1.34956 12.6344 2.46408 13.7374 3.56557C12.6873 3.56557 11.5579 3.56557 10.3955 3.56557Z"></path></svg></span><span class="nftmax-psidebar__title">약관 </span></a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-9 col-md-10 col-12  nftmax-personals__content">
                                        <div class="nftmax-ptabs">
                                        
                                            <div class="nftmax-ptabs__inner">
                                                <div class="tab-content" id="nav-tabContent">
                                                    <!--  Features Single Tab -->
                                                    <div class="tab-pane fade show active" id="id1" role="tabpanel">
                                                        <form action="#">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="nftmax-ptabs__separate">
                                                                        <div class="nftmax-ptabs__form-main">
                                                                            <div class="nftmax__item-form--group">
                                                                                <label class="nftmax__item-label">ID</label>
                                                                                <input class="nftmax__item-input" type="text" id="user_id" required="required" value="<%=memInfo.user_id%>" readOnly>
                                                                                <p class="nftmax__item-fee-text">수정이 불가능합니다.</p>
                                                                            </div>
                                                                            <div class="nftmax__item-form--group">
                                                                                <label class="nftmax__item-label">이름</label>
                                                                                <input class="nftmax__item-input" type="text" id="user_nm" placeholder="이름을 입력해주세요." required="required" value="<%=memInfo.user_name%>">
                                                                            </div>
                                                                            <div class="nftmax__item-form--group">
                                                                                <label class="nftmax__item-label">Email </label>
                                                                                <input class="nftmax__item-input" type="email" id="user_email" placeholder="이메일을 입력해주세요." required="required" value="<%=memInfo.user_email%>">
                                                                            </div>
                                                                            <div class="nftmax__item-form--group">
                                                                                <label class="nftmax__item-label">Pin </label>
                                                                                <input class="nftmax__item-input" type="password" id="pin" placeholder="핀번호를 입력해주세요." required="required" value="<%=memInfo.pin%>" onkeyup="numCheck(this);" maxlength="4">
                                                                            </div>
                                                                        </div>
                                                            
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                            
                                                            <div class="nftmax__item-button--group nftmax__ptabs-bottom">
                                                                <!-- <button class="nftmax__item-button--single nftmax__item-button--cancel">취소</button> -->
                                                                <span class="nftmax__item-button--single nftmax-btn nftmax-btn__bordered bg radius " type="submit" onClick="fnModify(1)" style="cursor: pointer;">수정</span>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- 은행 -->
                                                    <div class="tab-pane fade" id="id2" role="tabpanel">
                                                        <form action="#">
                                                            <div class="nftmax-paymentm">
                                                                <ul class="nftmax-paymentm__list">
                                                                    <li class="nftmax-paymentm__single">
                                                                        <div class="nftmax-paymentm__name" id="bankInfo">
                                                                            <div class="nftmax-paymentm__icon">
                                                                                <img src="/images/payment-1.png" alt="#">
                                                                            </div>
                                                                            <div class="nftmax-paymentm__content">
                                                                                <h4 class="nftmax-paymentm__title">은행정보</h4>
                                                                                <% if (memInfo.user_bank != ''){%>
                                                                                    <p class="nftmax-paymentm__text" id="txt_user_bank">은행 : <%=memInfo.user_bank%></p>
                                                                                    <p class="nftmax-paymentm__text" id="txt_user_holder">예금주 : <%=memInfo.user_holder%></p>
                                                                                    <p class="nftmax-paymentm__text" id="txt_user_num">계좌번호 : <a href="javascript:void(0);" onclick="fnCopy('<%=memInfo.user_num%>')" style="text-decoration: underline;"><%=memInfo.user_num%></a></p>
                                                                                    <span class="nftmax-paymentm__badge nftmax__ok" onclick="fnBankModiry()" style="cursor: pointer;">변경</span>
                                                                                <%}else{%>
                                                                                    <span class="nftmax-paymentm__badge nftmax__ok" onclick="fnBankModiry()" style="cursor: pointer;">등록</span>
                                                                                <%}%>
                                                                            </div>
                                                                        </div>
                                                                        <div class="nftmax-ptabs__form-main" id="bankModify" style="display:none">
                                                                            <div class="nftmax__item-form--group">
                                                                                <label class="nftmax__item-label">은행명</label>
                                                                                <ul  class="nav nav-tabs  nftmax-dropdown__list" id="nav-tab" role="tablist">
                                                                                    <li class="nav-item dropdown" style="font-size: 1rem;" >
                                                                                        <a class="nftmax-sidebar_btn nftmax-heading__tabs nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">은행선택 <span class="nftmax-table__arrow--icon"><svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.7" d="M12.4124 0.247421C12.3327 0.169022 12.2379 0.106794 12.1335 0.0643287C12.0291 0.0218632 11.917 0 11.8039 0C11.6908 0 11.5787 0.0218632 11.4743 0.0643287C11.3699 0.106794 11.2751 0.169022 11.1954 0.247421L7.27012 4.07837C7.19045 4.15677 7.09566 4.219 6.99122 4.26146C6.88678 4.30393 6.77476 4.32579 6.66162 4.32579C6.54848 4.32579 6.43646 4.30393 6.33202 4.26146C6.22758 4.219 6.13279 4.15677 6.05312 4.07837L2.12785 0.247421C2.04818 0.169022 1.95338 0.106794 1.84895 0.0643287C1.74451 0.0218632 1.63249 0 1.51935 0C1.40621 0 1.29419 0.0218632 1.18975 0.0643287C1.08531 0.106794 0.990517 0.169022 0.910844 0.247421C0.751218 0.404141 0.661621 0.616141 0.661621 0.837119C0.661621 1.0581 0.751218 1.2701 0.910844 1.42682L4.84468 5.26613C5.32677 5.73605 5.98027 6 6.66162 6C7.34297 6 7.99647 5.73605 8.47856 5.26613L12.4124 1.42682C12.572 1.2701 12.6616 1.0581 12.6616 0.837119C12.6616 0.616141 12.572 0.404141 12.4124 0.247421Z" fill="#374557" fill-opacity="0.6"></path></svg></span></a>
                                                                                        <ul class="dropdown-menu nftmax-sidebar_dropdown mb-2">
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('002','산업은행')">산업은행</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('003','기업은행')">기업은행</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('004','국민은행')">국민은행</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('007','수협은행')">수협은행</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('011','NH농협은행')">NH농협은행</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('012','농협중앙회')">농협중앙회</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('020','우리은행')">우리은행</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('023','SC제일은행')">SC제일은행</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('027','한국씨티')">한국씨티</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('031','대구은행')">대구은행</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('032','부산은행')">부산은행</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('034','광주은행')">광주은행</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('035','제주은행')">제주은행</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('037','전북은행')">전북은행</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('039','경남은행')">경남은행</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('045','새마을금고')">새마을금고</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('048','신협')">신협</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('064','산림조합')">산림조합</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('071','우체국')">우체국</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('081','하나은행')">하나은행</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('088','신한은행')">신한은행</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('089','케이뱅크')">케이뱅크</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('090','카카오뱅크')">카카오뱅크</a>
                                                                                             <a href="javascript:void(0);" class="dropdown-item list-group-item" onclick="fnChangBankCode('092','토스뱅크')">토스뱅크</a>
                                                                                        </ul>
                                                                                        <input class="nftmax__item-input mt-2" type="text" id="bank_info" placeholder="은행을 선택하세요" required="required" value="<%=memInfo.user_bank%>" readonly>
                                                                                        <input id="bank_cd" type="hidden" value="">
                                                                                    </li>
                                                                                </ul>
                                                                            </div>

                                                                            <div class="nftmax__item-form--group">
                                                                                <label class="nftmax__item-label">예금주</label>
                                                                                <input class="nftmax__item-input" type="text" id="acc_nm" placeholder="예금주 입력하세요." required="required" value="<%=memInfo.user_holder%>" >
                                                                            </div>
                                                                            
                                                                            <div class="nftmax__item-form--group">
                                                                                <label class="nftmax__item-label">계좌번호 </label>
                                                                                <input class="nftmax__item-input" type="text" id="bank_acc" placeholder="예금주 입력하세요." required="required" value="<%=memInfo.user_num%>" >
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="nftmax__item-button--group nftmax__ptabs-bottom" id="bankBtnArea" style="display: none;">
                                                                <span class="nftmax__item-button--single nftmax__item-button--cancel" onclick="fnBankCancel()" style="cursor: pointer;">취소</span>
                                                                <% if (memInfo.user_bank != ''){%>
                                                                    <span class="nftmax__item-button--single nftmax-btn nftmax-btn__bordered bg radius " type="submit" onClick="fnModify(2)" style="cursor: pointer;">수정</span>
                                                                <%}else{%>
                                                                    <span class="nftmax__item-button--single nftmax-btn nftmax-btn__bordered bg radius " type="submit" onClick="fnModify(2)" style="cursor: pointer;">등록</span>
                                                                <%}%>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- //은행 -->
                                                    <!-- password-->
                                                    <div class="tab-pane fade" id="id5" role="tabpanel">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-12">
                                                                <!-- Sign in Form -->
                                                                <form class="nftmax-wc__form-main nftmax-wc__form-main--profile" action="#" method="post">
                                                                    <div class="form-group">
                                                                        <label class="nftmax-wc__form-label">새 비밀번호</label>
                                                                        <div class="nftmax__item-form--group">
                                                                            <span class="nftmax-wc__icon"><i class="fa-solid fa-eye"></i></span>
                                                                            <input class="nftmax__item-input" id="mem_pass" type="password" name="password" placeholder="" maxlength="20" required="required">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="nftmax-wc__form-label">비밀번호 확인</label>
                                                                        <div class="nftmax__item-form--group">
                                                                            <span class="nftmax-wc__icon"><i class="fa-solid fa-eye"></i></span>
                                                                            <input class="nftmax__item-input" id="chk_mem_pass" type="password" name="password" placeholder="" maxlength="20" required="required">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="nftmax__item-button--group nftmax__ptabs-bottom">
                                                                            <span class="nftmax__item-button--single nftmax-btn nftmax-btn__bordered bg radius " type="submit" onClick="fnModify(3)" style="cursor: pointer;">수정</span>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                                <!-- End Sign in Form -->
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-12">
                                                                <div class="nftmax-password__img">
                                                                    <img src="img/password-reset.png" alt="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- //password -->

                                                    <!-- 약관 -->
                                                    <div class="tab-pane fade" id="id7" role="tabpanel">
                                                        <div class="nftmax-ptabs__page" >
                                                            <h3>약관</h3>
                                                            <p>입점도메인몰(크리에이터)과 회원은 NFT NTING의 약관을 전체 확인하였으며, 모두 동의합니다.</p>
                                                            <p>개인정보처리방침, 서비스 이용약관, 거래약관 전체를 확인하였으며, 모두 동의합니다.</p>
                                                            <p>다시 한 번 중요 부분만 강조하며, 약관 전체에 대해서 입점도메인몰(크리에이터)과 회원은 약관에 동의합니다.</p>
                                                            <p>NTING은 입점도메인 페이지만 제공하며, 입점도메인몰에서 이용과 관련된 문제는 당사의 NFC 마켓플레이스 엔팅과 아무 관련이 없습니다.</p>
                                                            <p>입점도메인몰의 사용 및 연동으로 인하여 발생하는 모든 문제에 대한 책임은 당사에 없으며, 입점도메인몰인 크리에이터에게 있습니다.</p>
                                                            <p>개인정보처리방침</p>
                                                            <p>NTING(이하 "회사")은 「개인정보 보호법」(이하 "법") 제30조제1항 및 「개인정보 보호법 시행령」(이하 "시행령") 제31조제1항에 따라 정보주체의 개인정보 및 권익을 보호하고 개인정보와 관련된 정보주체의 고충을 신속하고 원활하게 처리하기 위하여 본 개인정보 처리방침을 수립·공개합니다.</p>
                                                            <h3>제1조 (개인정보의 처리목적)</h3>
                                                            <p>회사는 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 관련 법률에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.</p>
                                                            <p>1. 홈페이지 회원 가입 및 관리</p>
                                                            <p>회원 가입의사 확인, 디지털 작품 거래 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 제한적 본인확인제 시행에 따른 본인확인, 서비스 부정이용 방지 등을 목적으로 개인정보를 처리합니다.</p>
                                                            <p>2. 디지털 작품 거래 또는 서비스 제공</p>
                                                            <p>디지털 작품 및 해당 작품의 원본확인전자서류 전송, 계약서·청구서 발송, 콘텐츠 제공, 맞춤서비스 제공, 본인인증, 연령인증, 요금결제·정산, 채권추심 등을 목적으로 개인정보를 처리합니다.</p>
                                                            <p>3. 고충처리</p>
                                                            <p>민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락·통지, 처리결과 통보 등의 목적으로 개인정보를 처리합니다.</p>
                                                            <p>4. 마케팅 및 광고에 활용</p>
                                                            <p>이벤트 등 광고성 정보 전달, 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계 등을 목적으로 개인정보를 처리합니다.</p>
                                                            <h3>제2조 (처리하는 개인정보 항목)</h3>
                                                            <p>회사는 다음의 개인정보 항목을 처리하고 있습니다.</p>
                                                            <p>1. 회원가입시: 이메일 주소, 비밀번호, 휴대전화번호, 사용자 이름</p>
                                                            <p>2. SNS 간편회원가입시: 이메일 주소, 휴대전화번호, 사용자 이름</p>
                                                            <p>3. 디지털 작품을 원화로 구매시: 이름, 이메일 주소, 휴대전화번호, 사용자 이름, 클레이튼 지갑 주소</p>
                                                            <p>4. 디지털 작품을 가상자산으로 구매시: 이메일 주소, 휴대전화번호, 사용자 이름, 클레이튼 지갑 주소</p>
                                                            <p>5. 부가서비스(ex.기념품 배송 서비스) 이용시: 이름, 주소, 휴대전화번호</p>
                                                            <p>6. 인터넷 서비스 이용과정에서 아래 개인정보 항목이 자동으로 생성되어 수집될 수 있습니다.</p>
                                                            <p>- IP주소, 쿠키, MAC주소, 서비스 이용기록, 방문기록, 불량 이용기록 등</p>
                                                            <p>서비스 이용약관 동의</p>
                                                            <h3>웹사이트 이용약관</h3>
                                                            <h4>제1장 총칙</h4>
                                                            <h3>제3조(약관의 효력과 개정)</h3>
                                                            <p>1. 웹사이트는 이용자가 본 약관의 내용에 동의하는 것을 조건으로 이용자에게 서비스를 제공하며, 이용자가 본 약관의 내용에 동의하는 경우, 웹사이트의 서비스 제공 행위 및 이용자의 서비스 사용 행위에는 본 약관이 우선적으로 적용됩니다.</p>
                                                            <p>2. NTING은 필요한 경우 본 약관의 내용을 변경할 수 있으며, 변경된 약관은 웹사이트 서비스 화면에 공지함으로써 이용자가 직접 확인할 수 있도록 하겠습니다. 본 약관을 변경할 경우에는 적용일자 및 변경사유를 명시하여 웹사이트 내에 그 적용일자 30일 전부터 공지하겠습니다.</p>
                                                            <p>3. 회원은 개정된 약관에 동의하지 않을 경우 회원 탈퇴할 수 있으며, 명시적으로 거부의 의사표시를 하지 아니하고 웹사이트를 계속 사용하는 경우에는 약관 변경에 동의한 것으로 간주됩니다.</p>
                                                            <p>4. 본 약관은 NTING과 이용자 사이에 성립되는 서비스 이용계약의 기본약정이며, NTING은 필요한 경우 특정 서비스에 관하여 적용될 사항(이하 "개별약관")을 정하여 미리 공지할 수 있습니다. 이용자가 이러한 개별약관에 동의하고 특정 서비스를 이용하는 경우에는 개별약관이 우선적으로 적용되고, 본 약관은 보충적인 효력을 갖습니다.</p>
                                                            <p>5. 이용자는 약관의 변경에 대하여 주의의무를 다하여야 하며, 변경된 약관의 부지로 인한 이용자의 피해는 NTING이 책임지지 않습니다.</p>
                                                            <p>6. 본 약관에 명시되지 않은 사항에 대해서는 대한민국의 「전기통신사업법」, 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」, 「개인정보 보호법」 등 관련 법령(이하 별도의 표기가 없는 경우 대한민국법을 의미합니다)의 규정에 따릅니다.</p>
                                                            <h4>제2장 서비스 제공 및 이용</h4>
                                                            <h3>제4조(회원 가입 및 등록사항의 변경 등)</h3>
                                                            <p>1. 웹사이트 회원 가입을 하고자 하는 이용자는 웹사이트의 회원 가입 신청 절차에 따라 이름, 전화번호, 이메일 등 개인정보를 기재하고 본 약관 및 개인정보처리방침에 동의 여부를 표시한 뒤 회원 가입 신청을 하고, NTING이 이를 승낙함으로써 회원으로 가입합니다. NTING은 회원 가입 승낙의 의사를 해당 서비스 화면에 게시하거나, 이메일 또는 기타 방법으로 신청인에게 통지합니다.</p>
                                                            <p>2. 웹사이트에서 디지털 작품의 거래를 하고자 하는 회원은 이용약관과 개인정보처리방침, 거래약관 등에 동의 여부를 표시한 뒤 거래 허가 신청을 하고, NTING이 이를 승낙함으로써 디지털 작품의 거래를 할 수 있습니다.</p>
                                                            <p>3. 미성년자가 회원 가입을 하고자 할 경우 법정대리인의 동의를 받은 후 가입하여야 합니다.</p>
                                                            <p>4. 회원 가입 신청양식에 기재하는 회원정보는 가입 신청인의 실제정보인 것으로 간주되고, 실제정보를 입력하지 않은 회원은 법적인 보호를 받을 수 없으며 서비스 이용에 제한을 받을 수 있습니다.</p>
                                                            <h3>제7조 (대리행위 및 보증인의 부인)</h3>
                                                            <p>① NTING은 디지털 작품의 크리에이터와 구매자 간의 자유로운 상품의 거래를 위한 시스템을 운영 및 관리, 제공할 뿐이므로 크리에이터 또는 구매자를 대리하지 않으며, 회원 사이에 성립된 거래와 관련된 책임과 회원이 제공한 정보에 대한 책임은 해당 회원이 직접 부담하여야 합니다.</p>
                                                            <p>② NTING은 웹사이트를 통하여 이루어지는 크리에이터와 구매자 간의 거래와 관련하여 판매의사 또는 구매의사의 존부 및 진정성, 디지털 작품의 품질, 완전성, 안정성, 적법성 및 타인의 권리에 대한 비침해성, 크리에이터 또는 구매자가 입력하는 정보 및 그 정보를 통하여 링크된 URL에 게재된 자료의 진실성 또는 적법성 등 일체를 보증하지 않습니다. 다만, 등록된 디지털 작품 관련 정보가 법규 위반이나 저작권 침해가 명백한 경우, 또는 저작권 등 권리를 침해받았다고 주장하는 자가 그 침해의 정지ㆍ예방을 요청하는 경우 NTING은 당사자간의 분쟁이 해결되어 권리관계가 명확해질 때까지 해당 디지털 작품에 대한 삭제, 수정 또는 미노출 처리할 수 있습니다.</p>
                                                            <h3>제8조(서비스의 중단)</h3>
                                                            <p>① 웹사이트는 정보시스템, 서버, 정보기기, 네트워크의 점검·교체 및 장애발생 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다. 또한, 운영상 상당한 이유가 있는 경우 현재 제공되는 서비스를 새로운 서비스로 교체 또는 중단할 수 있습니다.</p>
                                                            <p>② 제1항에 의한 서비스 중단의 경우에는 NTING은 제9조 제2항에서 정한 방법으로 이용자에게 통지합니다. 다만, NTING이 통제할 수 없는 사유로 인한 서비스의 중단(시스템 관리자의 고의·과실이 없는 정보시스템, 서버, 정보기기, 네트워크의 장애발생 등)으로 인하여 사전 통지가 불가능한 경우에는 그러하지 아니합니다.</p>
                                                            <h3>제9조(이용자에 대한 통지)</h3>
                                                            <p>① NTING이 특정 회원에 대한 통지를 하는 경우 회원이 회원 가입 시에 기재한 메일주소, 전화번호 기타 NTING과 미리 약정하여 지정한 방법으로 할 수 있습니다.</p>
                                                            <p>② NTING이 불특정다수 이용자에 대한 통지를 하는 경우 웹사이트 게시판 및 서비스 화면에 게시함으로써 개별 통지에 갈음할 수 있습니다.</p>
                                                            <h3>제13조(이용자의 의무)</h3>
                                                            <p>① 이용자는 다음 각 호의 행위를 하여서는 안 됩니다.</p>
                                                            <p>1. 회원 가입 신청 또는 개인정보 변경 시 허위 내용을 등록하는 행위</p>
                                                            <p>2. 타인의 명의 또는 작품을를 도용하여 부정 사용(판매, 위탁판매 등을 포함한다)하는 행위</p>
                                                            <p>3. NTING의 직원이나 서비스의 관리자를 가장하거나 사칭하는 행위</p>
                                                            <p>4. 웹사이트에 게시된 정보를 변경하는 행위</p>
                                                            <p>5. 다른 이용자에 대한 개인정보를 수집·저장·공개하는 행위</p>
                                                            <p>6. 외설 또는 폭력적·위협적인 메시지·화상·음성·기타 공서양속에 반하는 정보를 메일로 송신하거나 공개 또는 게시하는 행위</p>
                                                            <p>7. 사생활 침해 또는 명예훼손 등 타인의 권리를 침해하는 정보를 유통시키는 행위</p>
                                                            <p>8. 크리에이터 또는 타인의 지적재산권을 침해하거나 업무를 방해하는 행위</p>
                                                            <p>9. 컴퓨터 소프트웨어·하드웨어·네트워크 등의 정상적인 가동을 방해, 파괴할 목적으로 고안된 소프트웨어 바이러스·기타 다른 컴퓨터 코드·파일·프로그램을 포함하고 있는 자료를 게시하거나 전자우편으로 발송하는 행위</p>
                                                            <p>10. 불특정 다수를 대상으로 하여 광고 또는 선전을 게시하거나 스팸메일을 전송하는 등의 행위</p>
                                                            <p>11. 웹사이트의 이용 약관을 위반하는 행위</p>
                                                            <p>12. 기타 관련 법령에 의하여 그 전송 또는 게시가 금지되는 정보를 전송 또는 게시하는 행위</p>
                                                            <p>② 제1항에 해당하는 행위를 한 이용자가 있을 경우 세번째 공간은 이용자의 회원자격을 적정한 방법으로 제한, 정지 또는 상실시킬 수 있습니다.</p>
                                                            <p>③ 이용자는 그 귀책사유로 인하여 NTING이나 다른 이용자가 입은 손해를 배상할 책임이 있습니다.</p>
                                                            <h3>제14조(공개 게시물의 삭제 등)</h3>
                                                            <p>① 이용자가 게재한 공개 게시물의 내용이 다음 각 호에 해당하는 경우 웹사이트는 이용자에게 사전 통지 없이 해당 공개 게시물을 삭제할 수 있고, 해당 이용자의 회원 자격을 제한, 정지 또는 상실시킬 수 있습니다.</p>
                                                            <p>1. 욕설이나 음란한 부호·문언·음향·화상 또는 영상을 배포·판매·임대하거나 공공연하게 전시하는 내용</p>
                                                            <p>2. 사람을 비방할 목적으로 공공연하게 사실이나 거짓의 사실을 드러내어 타인의 명예를 훼손하는 내용</p>
                                                            <p>3. 공포심이나 불안감을 유발하는 부호·문언·음향·화상 또는 영상을 반복적으로 상대방에게 도달하도록 하는 내용</p>
                                                            <p>4. 정당한 사유 없이 정보통신시스템, 데이터 또는 프로그램 등을 훼손·멸실·변경·위조하거나 그 운용을 방해하는 내용</p>
                                                            <p>5. 「청소년 보호법」에 따른 청소년유해매체물을 게재 또는 광고하는 내용</p>
                                                            <p>6. 법령에 따라 금지되는 사행행위에 해당하는 내용</p>
                                                            <p>7. 그 밖에 범죄를 목적으로 하거나 교사 또는 방조하는 내용</p>
                                                            <p>8. 기타 관련 법령에 위배된다고 판단되는 내용</p>
                                                            <p>② 공개게시물의 내용으로 인하여 사생활 침해나 명예훼손 등 타인의 권리가 침해된 경우 그 침해를 받은 자는 NTING에게 침해사실을 소명하여 그 정보의 삭제를 요청할 수 있습니다.</p>
                                                            <p>③ NTING은 제2항에 따른 정보의 삭제요청에도 불구하고, 권리의 침해 여부를 판단하기 어렵거나 이해당사자 간에 다툼이 예상되는 경우에는 해당 정보에 대한 접근을 임시적으로 차단하는 조치(이하 "임시조치"라 한다)를 할 수 있습니다. 이 경우 임시조치의 기간은 30일 이내로 합니다.</p>
                                                            <p>④ NTING은 제2항에 따른 요청을 받으면 지체 없이 삭제·임시조치 등의 필요한 조치를 하고, 즉시 신청인 및 정보 게시자에게 알리는 한편, 필요한 조치를 취한 사실을 해당 게시판에 공시하는 등의 방법으로 이용자가 알 수 있도록 합니다.</p>
                                                            <h4>제3장 손해배상 등</h4>
                                                            <h3>제16조(손해배상)</h3>
                                                            <p>NTING은 제공되는 서비스와 관련하여 이용자에게 어떠한 손해가 발생하더라도 동 손해가 NTING의 중대한 과실에 의한 경우를 제외하고는 이에 대하여 책임을 부담하지 않습니다.</p>
                                                            <h3>제17조(면책조항)</h3>
                                                            <p>① NTING은 천재지변 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 관한 책임이 면제됩니다.</p>
                                                            <p>② NTING은 이용자의 귀책사유로 인한 서비스 이용의 장애에 대하여 책임을 지지 않습니다.</p>
                                                            <p>③ NTING은 이용자가 서비스를 이용하여 기대하는 이익이나 서비스를 통하여 얻은 자료로 인한 손해에 관하여 책임을 지지 않습니다.</p>
                                                            <p>④ NTING은 이용자가 서비스에 게재한 정보, 자료, 사실의 신뢰도, 정확성 등의 내용에 관하여는 책임을 지지 않습니다.</p>
                                                            <p>⑤ NTING이 발행하는 NFT는 디지털 작품의 원본 동일성 확인, 소유권의 확인, 증명 등의 용도로 사용되는 전자서류입니다. NTING이 발행하는 NFT를 사인간에 거래함으로써 발생하는 일체의 문제에 관하여 NTING은 책임을 지지 않습니다.</p>
                                                            <p>⑥ NTING은 입점도메인몰 협약시 입점도메인 페이지 및 API만 제공하고, 포인트 사용 및 연동으로 인하여 발생하는 모든 문제에 대한 책임을 지지 않습니다. 입점도메인몰에 대한 모든 책임은 협약을 한 크리에이터에게 있습니다.</p>
                                                            <p>⑦ 웹사이트에서 디지털 작품을 판매 및 구매하여 소유권을 이전하는 행위는 본 약정 및 관계법령에 위반되지 않습니다.</p>
                                                            <h3>웹사이트 거래약관</h3>
                                                            <h3>제1조(구매신청 및 개인정보 제공 동의 등)</h3>
                                                            <p>① 회원은 웹사이트 상에서 다음 또는 이와 유사한 방법으로 구매를 신청하며, NTING은 회원이 구매를 신청함에 있어 다음 각 호의 내용을 알기 쉽게 제공해야 합니다.</p>
                                                            <p>1. 디지털 작품의 검색 및 선택</p>
                                                            <p>2. 받는 사람의 성명, 전화번호, 클레이튼 등 전자 지갑주소 등의 입력</p>
                                                            <p>3. 약관내용, 청약철회권이 제한되는 서비스, 거래수수료 및 부가가치세 등 비용의 부담과 관련한 내용에 대한 확인</p>
                                                            <p>4. 본 약관에 동의하고, 제3호의 사항을 확인하거나 거부하는 표시</p>
                                                            <p>5. 디지털 작품의 구매신청 및 이에 관한 확인 또는 NTING의 확인에 대한 동의</p>
                                                            <p>6. 결제방법의 선택</p>
                                                            <p>② NTING이 제3자에게 회원의 개인정보를 제공할 필요가 있는 경우 ⅰ)개인정보를 제공받는 자, ⅱ)개인정보를 제공받는 자의 개인정보 이용목적, ⅲ) 제공하는 개인정보의 항목, ⅳ)개인정보를 제공받는 자의 개인정보 보유 및 이용기간을 회원에게 알리고 동의를 받도록 합니다(동의를 받은 사항이 변경되는 경우에도 같습니다).</p>
                                                            <p>③ NTING이 제3자에게 회원의 개인정보를 취급할 수 있도록 업무를 위탁하는 경우에는 ⅰ)개인정보 취급위탁을 받는 자, ⅱ)개인정보 취급위탁을 하는 업무의 내용을 회원에게 알리고 동의를 받도록 합니다(동의를 받은 사항이 변경되는 경우에도 같습니다). 다만, 서비스제공에 관한 계약이행을 위해 필요하고 회원의 편의증진과 관련된 경우에는 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」에서 정하고 있는 방법으로 개인정보 취급방침을 통해 알림으로써 고지절차와 동의절차를 거치지 않을 수 있습니다.</p>
                                                            <h3>제 2 조(회원의 서비스 이용)</h3>
                                                            <p>① 디지털 작품 매매 서비스와 관련하여 NTING은 통신판매중개자로서 크리에이터와 회원 간의 자유로운 상품 등의 거래를 위한 시스템을 운영 및 관리, 제공할 뿐이므로, 회원은 상품 등을 구매하기 전에 반드시 크리에이터가 웹사이트 내에 작성한 상품 등의 상세 내용과 거래의 조건을 정확하게 확인해야 합니다. 구매하려는 상품 등의 내용과 거래의 조건을 확인하지 않고 구매하여 발생한 모든 손해는 회원 본인이 부담합니다.</p>
                                                            <p>② 회원은 이 약관 및 NTING이 서비스 화면에서 공지하는 내용을 준수하여야 하고, 이 약관 및 공지 내용을 위반하거나 이행하지 않아 발생하는 모든 손해에 대하여 책임을 집니다.</p>
                                                            <p>③ 회원은 크리에이터와 상품 등 매매 절차에서 분쟁이 발생하면 분쟁의 해결을 위하여 성실히 임해야 하며, 분쟁해결의 불성실로 크리에이터와 NTING에 손해가 발생하면 그에 대한 모든 책임을 부담합니다.</p>
                                                            <p>④ 회원은 매매대금의 결제와 관련하여 회원이 입력한 정보 및 그 정보와 관련하여 발생하는 제반 문제에 대한 모든 책임을 부담합니다.</p>
                                                            <p>⑤ NTING은 회원의 매매대금 결제 시 해당 결제수단에 대하여 정당한 사용권한이 있는지 확인할 수 있고, 이에 대한 확인이 완료될 때까지 해당 거래의 진행을 중지할 수 있습니다.</p>
                                                            <p>⑥ NTING은 회원에게 서비스가 안전하게 제공될 수 있도록 각종 설비와 자료를 관리하고, 서비스가 제공 목적에 맞게 이용되고 있는지 여부를 확인합니다. 만약 회원이 이용 목적을 위반한 것으로 확인되면 NTING은 그에 대한 소명을 회원에게 요청할 수 있고, 주문 취소 등 필요한 조치를 할 수 있습니다.</p>
                                                            <p>⑦ 회원은 NTING이 회원의 서비스 이용 편의를 위하여 작가 등으로부터 제공받은 디지털 작품 등 관련 정보 기타 콘텐츠를 웹사이트를 통하여 제공하는 경우에도 디지털 작품 등의 구매 여부는 전적인 회원 본인의 판단과 책임으로 결정하여야 합니다. 이 경우 NTING은 어떠한 경우에도 회원의 구매 결정에 대하여 책임을 부담하지 아니 합니다.</p>
                                                            <p>⑧ 미성년자가 웹사이트를 통하여 상품 등을 구매하는 경우에 법정대리인이 해당 계약에 대하여 동의하지 아니하면, 미성년자 본인 또는 법정대리인은 그 계약을 취소할 수 있습니다.</p>
                                                            <h3>제3조(계약의 성립)</h3>
                                                            <p>① 크리에이터는 제1조와 같은 구매신청에 대하여 다음 각 호에 해당하면 승낙하지 않을 수 있습니다. 다만, 미성년자와 계약을 체결하는 경우에는 법정대리인의 동의를 얻지 못하면 미성년자 본인 또는 법정대리인이 계약을 취소할 수 있다는 내용을 고지하여야 합니다.</p>
                                                            <p>1. 신청 내용에 허위, 기재누락, 오기가 있는 경우</p>
                                                            <p>2. 미성년자가 청소년보호법에서 금지하는 재화 및 용역을 구매하는 경우</p>
                                                            <p>3. 기타 구매신청에 승낙하는 것이 NTING의 기술상 현저히 지장이 있다고 판단하는 경우</p>
                                                            <p>② 크리에이터의 승낙이 제4조 제1항의 수신확인통지형태로 이용자에게 도달한 시점에 계약이 성립한 것으로 봅니다.</p>
                                                            <p>③ 크리에이터의 승낙의 의사표시에는 회원의 구매 신청에 대한 확인 및 판매가능 여부, 구매신청의 정정 취소 등에 관한 정보 등을 포함합니다.</p>
                                                            <h3>제4조(지급방법)</h3>
                                                            <p>웹사이트에서 구매한 디지털 작품에 대한 대금지급방법은 다음 각 호의 방법중 가용한 방법으로 할 수 있습니다.</p>
                                                            <p>1. 폰뱅킹, 인터넷뱅킹, 메일 뱅킹 등의 각종 계좌이체</p>
                                                            <p>2. 온라인 무통장입금</p>
                                                            <p>3. 기타 전자적 지급 방법에 의한 대금 지급 등</p>
                                                            <p>4. 인증된 전자 지갑 연결을 통한 클레이(Klay) 결제</p>
                                                            <h3>제5조 (결제대금 보호서비스의 이용)</h3>
                                                            <p>① NTING은 크리에이터와 회원 간에 안전한 거래가 이루어질 수 있도록 결제대금 보호 서비스를 제공합니다. 결제대금 보호 서비스란, 매매계약이 체결되고 회원이 대금을 결제하였을 경우, 회원이 크리에이터로부터 해당 상품을 받았다면 NTING은 미리 정한 서비스 이용료를 공제한 후 해당 크리에이터에게 대금을 정산해 줍니다.</p>
                                                            <p>② 결제대금 보호 서비스는 웹사이트에서 구매하는 모든 상품에 적용됩니다.</p>
                                                            <p>③ 결제대금 보호 서비스는 회원 간에 이루어지는 디지털 작품 매매의 안전성과 신뢰성을 높이고, 디지털 작품을 인수하기 전에 대금을 결제해야 하는 회원을 보호하기 위해 제공합니다.</p>
                                                            <p>④ NTING에서 제공하는 결제대금 보호 서비스는 크리에이터나 회원을 대리하는 것이 아니며, 상품의 매매와 관련하여 크리에이터나 회원의 의무를 대행하는 것도 아닙니다.</p>
                                                            <h3>제6조(수신확인통지․구매신청 변경 및 취소)</h3>
                                                            <p>① NTING은 이용자의 구매신청이 있는 경우 이용자에게 수신확인통지를 합니다.</p>
                                                            <p>② 수신확인통지를 받은 이용자는 의사표시의 불일치 등이 있는 경우에는 수신확인통지를 받은 후 즉시 구매신청 변경 및 취소를 요청할 수 있고 NTING은 NFT 전송 전에 이용자의 요청이 있는 경우에는 지체 없이 그 요청에 따라 처리하여야 합니다. 다만 이미 대금을 지불한 경우에는 제8조의 청약철회 등에 관한 규정에 따릅니다.</p>
                                                            <h3>제7조(NFT의 전송 등)</h3>
                                                            <p>① NTING은 회원이 구매한 디지털 작품의 NFT 전송 시기에 관하여 별도의 약정이 없는 이상, 이용자가 디지털 작품에 대한 대금을 지급한 즉시 이용자의 전자 지갑으로 NFT를 전송합니다. 이때 NTING은 회원이 NFT 전송 진행 사항을 확인할 수 있도록 적절한 조치를 합니다.</p>
                                                            <p>② NTING은 회원이 구매한 디지털 작품 및 디지털 작품의 NFT에 대해 전송수단, 전송기간 등을 명시합니다. 만약 NTING이 약정 전송기간을 초과한 경우에는 그로 인한 회원의 손해를 배상하여야 합니다. 다만 NTING이 고의 또는 과실이 없음을 입증한 경우에는 그러하지 아니합니다.</p>
                                                            <h3>제8조(환급)</h3>
                                                            <p>NTING은 회원이 구매신청한 디지털 작품의 NFT를 전송할 수 없을 때에는 회원에게 통지하고 사전에 대금을 지급받은 경우에는 NFT를 전송할 수 없음을 통지한 날부터 3영업일 이내에 환급하거나 환급에 필요한 조치를 취합니다.</p>
                                                            <h3>제9조(청약철회 등)</h3>
                                                            <p>회원은 디지털 작품 및 해당 작품의 NFT를 전송 받은 경우에는 반품 및 교환을 할 수 없습니다.</p>
                                                            <h3>제10조(금지행위)</h3>
                                                            <p>크리에이터와 회원이 NTING이 제공하는 서비스를 이용하지 아니하고 직접 거래하는 행위(직거래)는 거래의 안전을 위하여 금지됩니다. 이 경우 직거래를 통하여 발생한 제반 문제에 대한 책임은 거래 당사자들에게 있으며 NTING은 이에 대해 어떠한 책임도 부담하지 아니 합니다.</p>
                                                        </div>
                                                    </div>
                                                    <!-- //약관 -->
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Dashboard Inner -->
                    </div>
                </div>
         
                
            </div>	
        </div>	
    </section>
    </div>
    <%- include('includes/modal') %>
</div>

<script>
    
    $(function(){
        if("<%=menu%>" == "account") {
            $(".list-group-item")[1].click();
            fnBankModiry();
        }
    });

    function fnModify(index) {
        if(index == 1) {
            fnModifyInfo();
        } else if(index == 2) {
            fnModifyBankInfo();
        } else if(index == 3) {
            fnModifyPass();
        }
    }

    function fnModifyInfo(){
        if ($('#user_nm').val() == '') {
            return fnAlertModal('이름은 필수 입력값입니다.');
        }

        if ($('#user_email').val() == '') {
            return fnAlertModal('이메일은 필수 입력값입니다.');
        }else {
            let filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!filter.test($("#user_email").val())) {
                return fnAlertModal('이메일 형식을 확인해 주세요.');
            }
        }

        if ($("#pin").val() == '' ) {
            return fnAlertModal('핀 번호를 입력해주세요.');
        }else if($("#pin").val().length != 4){
            return fnAlertModal('핀 번호는 4자리로 입력해주세요.');
        }

        let data = {
            userNm: $("#user_nm").val(),
            userEmail : $("#user_email").val(),
            pin : $("#pin").val()
        }

        $.ajax({
            url: '/m/updateInfo',
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function (result) {
                wrapWindowByMaskHide();
                if (result.success) {
                    fnAlertModal(result.message);
                } else {
                    fnAlertModal(result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                wrapWindowByMaskHide();
                fnAlertModal('접속량이 많아 연결이 지연되고 있습니다. 잠시후 다시 시도해주세요.');
            } //function끝
        });

    }

    function fnModifyBankInfo(){
        if ($('#bank_info').val() == '') {
            return fnAlertModal('은행은 필수 선택값입니다.');
        }
        if ($('#acc_nm').val() == '') {
            return fnAlertModal('예금주는 필수 입력값입니다.');
        }
        if ($('#bank_acc').val() == '') {
            return fnAlertModal('계좌번호는 필수 입력값입니다.');
        }

        let data = {
            bankInfo: $("#bank_info").val(),
            accNm : $("#acc_nm").val(),
            bankAcc : $("#bank_acc").val(),
        }

        $.ajax({
            url: '/m/updateBank',
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function (result) {
                wrapWindowByMaskHide();
                if (result.success) {
                    $("#txt_user_bank").html('은행 : ' + $("#bank_info").val());
                    $("#txt_user_holder").html('예금주 : ' + $("#acc_nm").val());
                    $("#txt_user_num").html('계좌번호 : <a href="javascript:void(0);" onclick="fnCopy(' + $("#bank_acc").val()+ ');" style="text-decoration: underline;">' + $("#bank_acc").val()+'</a>');

                    fnAlertModal(result.message);
                    fnBankCancel();
                } else {
                    fnAlertModal(result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                wrapWindowByMaskHide();
                fnAlertModal('접속량이 많아 연결이 지연되고 있습니다.  잠시후 다시 시도해주세요.');
            } //function끝
        });


    }

    function fnModifyPass(){
        if ($('#mem_pass').val() == '') {
            return fnAlertModal('비밀번호는 필수 입력값입니다.');
        }

        if ($('#chk_mem_pass').val() == '') {
            return fnAlertModal('비밀번호 확인은 필수 입력값입니다.');
        }

        if($('#mem_pass').val() != $('#chk_mem_pass').val()){
            return fnAlertModal('비밀번호와 비밀번호 확인이 다릅니다.');
        }

        let data = {
            memPass: $("#mem_pass").val(),
        }

        $.ajax({
            url: '/m/updatePass',
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function (result) {
                wrapWindowByMaskHide();
                if (result.success) {
                    fnRedirectModal(result.message , '/logout');
                } else {
                    fnAlertModal(result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                wrapWindowByMaskHide();
                fnAlertModal('접속량이 많아 연결이 지연되고 있습니다. 잠시후 다시 시도해주세요.');
            } //function끝
        });


    }

    function passChk() {
        var pattern1 = /[0-9]/;
        var pattern2 = /[a-zA-Z]/;
        var pw = $("#mem_pass").val();
        var pattern3 = /[~!@\#$%<>^&*]/;

        if (!pattern1.test(pw) || !pattern2.test(pw) || !pattern3.test(pw) || pw.length<8 || pw.length>50){
            fnAlertModal("영문+숫자+특수기호 8자리 이상으로 구성하여야 합니다.");
            return false;
        } else {
            return true;
        }
    }


    function fnChangBankCode(cd , name){
        $("#bank_info").val(name);
        $("#bank_cd").val(cd);

    }

    function fnBankModiry() {
        $('#bankInfo').hide();
        $('#bankModify').show();
        $('#bankBtnArea').show();
    }

    function fnBankCancel() {
        $('#bankInfo').show();
        $('#bankModify').hide();
        $('#bankBtnArea').hide();
    }
</script>
<style>
    .nftmax-paymentm__list{
        padding-top: 0;
    }

    .nftmax__item-form--group{
        margin-bottom: 20px;
    }
    .nftmax__item-label{
        margin-bottom: 3px;
    }

    .nftmax__item-input{
        height: 48px;
    }
</style>
</body>
</html>

