<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/cdn') %>
    <title><%=config.found_text%> | signUp</title>
</head>
<body class="@@dashboard">
<div class="body-bg" style="background-image:url('/images/body-bg.jpg')">
    <!-- NFTMax Welcome -->
    <section class="nftmax-wc nftmax-wc__full">
        <div class="container-fluid">
            <div class="row g-0">
                <div class="col-xxl-6 col-lg-6 col-12 nftmax-hidden-rp">
                    <div class="nftmax-wc__inner nft-gr-primary">
                        <!-- Logo -->
                        <div class="nftmax-wc__logo">
                            <a href="/p/buyview"><img src="/images/cnft_logo-removebg-preview.png" alt="#"></a>
                        </div>
                        <!-- Middle Image -->
                        <div class="nftmax-wc__middle">
                            <a href="/p/buyview"><img src="/images/ikonbit.png" alt="#"></a>
                        </div>
                        <!-- Welcome Heading -->
                        <div class="nftmax-wc__heading">
                            <h2 class="nftmax-wc__title">Welcome to IKONBIT <br> CNFT</h2>
                        </div>

                    </div>
                </div>
                <div class="col-xxl-6 col-lg-6 col-12">
                    <!-- Welcome Form -->
                    <div class="nftmax-wc__form" id="login-form">
                        <div class="nftmax-wc__form-inner">
                            <div class="nftmax-wc__heading">
                                <h3 class="nftmax-wc__form-title nftmax-wc__form-title__one" style="background-image:url('/images/heading-vector.png')">Sign Up</h3>
                            </div>
                            <!-- Sign in Form -->
                            <div class="nftmax-wc__form-main">
                                <div class="form-group">
                                    <label class="nftmax-wc__form-label">ID</label>
                                    <div class="form-group__input">
                                        <input class="nftmax-wc__form-input" type="text" name="login-form-username" id="id" value="" placeholder="<%=config.login_text%>" maxlength="20" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="nftmax-wc__form-label">Password</label>
                                    <div class="form-group__input">
                                        <input class="nftmax-wc__form-input" name="login-form-password" id="password" type="password"  placeholder="<%=config.pwd_text%>" maxlength="50" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="nftmax-wc__form-label">이메일</label>
                                    <div class="form-group__input">
                                        <input class="nftmax-wc__form-input" type="text" name="login-form-username" id="email" value="" placeholder="이메일을 입력해주세요." maxlength="50"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="nftmax-wc__form-label">이름</label>
                                    <div class="form-group__input">
                                        <input class="nftmax-wc__form-input" type="text" name="login-form-username" id="name" value="" placeholder="이름을 입력해주세요."  maxlength="15" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="nftmax-wc__form-label">전화번호</label>
                                    <div class="form-group__input">
                                        <input class="nftmax-wc__form-input" type="text" name="login-form-username" id="hp" value="" placeholder="전화번호를 입력해주세요."  onkeyup="numCheck(this);" maxlength="15" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="nftmax-wc__button">
                                        <button class="ntfmax-wc__btn" onclick="signUp()">회원가입</button>
                                        <button class="ntfmax-wc__btn ntfmax-wc__btn-google" onclick="location.href='/login'">취소</button>
                                    </div>
                                </div>
                            </div>
                            <!-- End Sign in Form -->
                        </div>
                    </div>
                    <!-- End Welcome Form -->
                </div>
            </div>
        </div>
    </section>
    <!-- End NFTMax Welcome -->

</div>
</body>
<%- include('includes/modal') %>
</html>
<script>
    function signUp() {
        if ($("#id").val() == '') {
            return fnAlertModal('아이디를 입력해 주세요.');
        }
        if ($("#email").val() == '') {
            return fnAlertModal('이메일을 입력해 주세요.');
        } else {
            let filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!filter.test($("#email").val())) {
                return fnAlertModal('이메일 형식을 확인해 주세요.');
            }
        }

        if ($("#password").val() == '') {
            return fnAlertModal('비밀번호를 입력해 주세요.');
        } else {
            if (!passChk()) {
                return;
            }
        }

        if ($("#name").val() == '') {
            return fnAlertModal('이름를 입력해 주세요.');
        }

        if ($("#hp").val() == '' ) {
            return fnAlertModal('핸드폰 번호를 입력해주세요.');
        }

        wrapWindowByMaskShow();

        let data = {
            id: $("#id").val(),
            email : $("#email").val(),
            password: $("#password").val(),
            name: $("#name").val(),
            hp: $("#hp").val(),
        }

        $.ajax({
            url: '/m/signUpProc',
            dataType: 'json',
            type: 'POST',
            data: data,
            success: function (result) {
                wrapWindowByMaskHide();
                if (result.success) {
                    fnRedirectModal(result.message, '/login');
                } else {
                    fnAlertModal(result.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                wrapWindowByMaskHide();
                fnAlertModal('회원가입시 문제가 발생하였습니다.');
            } //function끝
        });
    }

    function numCheck(obj) {
        var num = obj.value;
        obj.value = num.replace(/[^0-9]/g, "");
        obj.focus();
    }

    function passChk() {
        var pattern1 = /[0-9]/;
        var pattern2 = /[a-zA-Z]/;
        var pw = $("#password").val();
        var pattern3 = /[~!@\#$%<>^&*]/;

        if (!pattern1.test(pw) || !pattern2.test(pw) || !pattern3.test(pw) || pw.length<8 || pw.length>50){
            fnAlertModal("영문+숫자+특수기호 8자리 이상으로 구성하여야 합니다.");
            return false;
        } else {
            return true;
        }
    }
    
</script>