<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('includes/cdn') %>

    <title><%= config.found_text %> | History</title>
</head>
<body class="flex justify-center text-xs font-medium bg-gray-500 md:items-center md:h-screen" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
<div class="w-full md:h-[828px] max-w-2xl bg-gray-100 md:rounded-3xl md:shadow-lg md:shadow-gray-600">
    <div class="relative h-full px-2 pt-6 pb-20 rounded-lg basis-full md:px-6 md:rounded-3xl">
        <%- include('includes/header') %>

        <div class="mt-2 border-t">
            <div class="mt-2">
            <span class="text-base font-semibold text-gray-900 uppercase">구매내역</span>
                <!-- date Picker -->
                <div class="flex flex-col gap-2 mt-2 rounded-lg sm:flex-row">
                    <div class="flex items-center gap-2 basis-6/12 sm:flex-row">
                        <div class="relative w-full xl:w-auto">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg class="w-5 h-5 text-gray-50 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <input datepicker name="start" id="srtDt" value="<%= srtDt %>" placeholder="<%= srtDt %>" datepicker-format="yyyy-mm-dd" name="start" type="text" class="block w-full p-2 pl-10 text-xs text-white bg-gray-700 border border-gray-700 rounded-lg placeholder:text-white focus:ring-blue-500 focus:border-blue-500 datepicker-input" placeholder="시작일"/>
                        </div>

                        <div class="relative w-full xl:w-auto">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg class="w-5 h-5 text-gray-50 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <input datepicker name="end" id="endDt" value="<%= endDt %>" placeholder="<%= endDt %>" datepicker-format="yyyy-mm-dd" type="text" class="block w-full p-2 pl-10 text-xs text-white bg-gray-700 border border-gray-700 rounded-lg placeholder:text-white focus:ring-blue-500 focus:border-blue-500 datepicker-input" placeholder="종료일"/>
                        </div>
                    </div>
                    <div class="basis-1/12">
                        <div class="block w-full p-2 text-xs text-center bg-blue-700 border border-blue-700 rounded-lg cursor-pointer text-gray-50 hover:bg-blue-400 focus:ring-blue-800 focus:border-blue-800" onclick="fnSearch()">
                            검색
                        </div>
                    </div>
                </div>
                <!-- Date Picker -->
            </div>
        </div>

        <div class="overflow-x-auto text-gray-50 sm:mt-4">
            <div class="relative flex flex-col px-2 py-6 mt-2 mb-6 overflow-x-auto bg-gray-900 sm:mb-6 rounded-xl">
                <div class="overflow-x-auto basis-full bg-slate-700">
                    <div class="flex flex-col">
                        <div class="overflow-x-auto">
                            <div class="inline-block min-w-full align-middle">
                                <div class="overflow-hidden">
                                    <table class="min-w-full table-theme-3">
                                        <thead class="font-normal">
                                        <tr>
                                            <th class="">Date</th>
                                            <th class="">Sales</th>
                                            <th class="">State</th>
<!--                                            <th class="">Coin</th>-->
                                            <th class="">Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody id="withdraw_body" class="font-normal">
                                        <%
                                        if (withdrawList.length > 0) {
                                        withdrawList.forEach(function(el, index) { %>
                                            <%
                                                let buy_num = 0;
                                                if (el.buy_num) buy_num = el.buy_num;
                                            %>
                                            <tr class="">
                                                <td class=""><%= el.create_dt %></td>
                                                <td class=""><%= el.title %></td>
                                                <td class="">
                                                    <% let status = el.confirm_sts_name %>
                                                    <% switch (status) {
                                                    case '취소': %>
                                                    <div class="w-16 px-0 badge badge-primary">취소</div>
                                                    <% break;
                                                    case '대기': %>
                                                    <div class="w-16 px-0 badge badge-increase">대기</div>
                                                    <% break;
                                                    case '완료': %>
                                                    <div class="w-16 px-0 badge badge-approve">승인</div>
                                                    <% break;
                                                        default:
                                                            break; } %>
                                                </td>
<!--                                                <td class="">-->
<!--                                                    <%= parseInt(el.pay_num).toLocaleString('ko-KR') %>Coin-->
<!--                                                </td>-->
                                                <td class="">
                                                    <span class=""><%= parseInt(buy_num).toLocaleString('ko-KR') %></span>
                                                    <span>KRW</span>
                                                </td>
                                            </tr>
                                        <% })
                                        }
                                        %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Pagination | Start -->
                <%- include('includes/paging') %>
                <input type="hidden" id="pageIndex" value="<%= pagination.pageIndex %>">
                <!-- Pagination | END -->
            </div>
        </div>

        <!-- Bottom Navigation | Start -->
        <%- include('includes/nav') %>
        <!-- Bottom Navigation | End -->
    </div>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/datepicker.js"></script>
<script>
    function fnSearch() {

        let srtDt = $("#srtDt").val();
        let endDt = $("#endDt").val();
        let pageIndex = $("#pageIndex").val();

        var form = document.createElement("form");
        form.setAttribute("charset", "UTF-8");
        form.setAttribute("method", "Post"); //Post 방식
        form.setAttribute("action", "/p/view"); //요청 보낼 주소
        var hiddenField1 = document.createElement("input");
        hiddenField1.setAttribute("type", "hidden");
        hiddenField1.setAttribute("name", "pageIndex");
        hiddenField1.setAttribute("value", pageIndex);
        form.appendChild(hiddenField1);
        var hiddenField2 = document.createElement("input");
        hiddenField2.setAttribute("type", "hidden");
        hiddenField2.setAttribute("name", "srtDt");
        hiddenField2.setAttribute("value", srtDt);
        form.appendChild(hiddenField2);
        var hiddenField3 = document.createElement("input");
        hiddenField3.setAttribute("type", "hidden");
        hiddenField3.setAttribute("name", "endDt");
        hiddenField3.setAttribute("value", endDt);
        form.appendChild(hiddenField3);

        document.body.appendChild(form);
        form.submit();
    }
</script>
</body>
</html>
